$box-padding: 30px;
$content-width: 920px;
$header-height: (
  'toggle-navigation': 60px,
  'full': 80px,
);
$margin-bottom-default: 100px;
$wrapper: (
  'padding': (
    'small': 20px,
    'medium': 40px,
  ),
  'width': 1280px,
);
