@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600');

$heading-font: (
  'Source Sans Pro',
  sans-serif,
);

$text-font: (
  'Source Sans Pro',
  sans-serif,
);

$font-sizes: (
  'base': (
    'small': 1em,
    'medium': 1.125em,
  ),
  'text-small': 0.9em,
  'h1': 2em,
  'h2': 1.5em,
  'h3': 1.25em,
  'h4': 1.1em,
  'blockquote': 1.75em,
);

$text-margin: 2em;

$line-height: (
  'base': 2em,
  'small': 1.5em,
);
