body { 
	background: white;
	font: normal 14px arial, sans-serif;
	line-height: 1.6;
	padding: 10px;
}

a.cta {
	clear: both;
	display: block;
	float: left;
	font-size: 16px;
	font-weight: normal;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;	
	margin: 10px 0;
	text-decoration: none;	
	width: auto;
	/* border radius */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

a.cta.primary { 
	background: #005FCC;
	border: 1px solid #0042B8;
	color: #FFF;
	text-shadow: 0 1px 0 #000;
}

a.cta.secondary { 
	background: #F0F0F0;
	border: 1px solid #B3B3B3;
	color: #666;
	text-shadow: 0 1px 0 #FFF;
}

a.read-more { 
	font-size: 14px;
	text-decoration: underline; 
}

a.read-more:after { content: '...'; }