/**
 * Author: Ontwerpstudio Trendwerk
 * Author URI: http://www.www.trendwerk.nl/
 * License: GNU General Public License v2.0
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contents:
 *
 * @typography 		Defines the styling of text elements
 * @misc 			Defines miscellaneous styles
 * @layout			Defines the lay-out
 * @templates		Defines the template specific styling
 * @plugins 		Defines the plugin specific styling
 * @responsive		Defines responsive layout
 *
 */

@charset "UTF-8";

/**
 * @import
 */ 
 
@import '../trendpress/assets/css/default.min.css';
@import 'assets/less/formalize.less'; 
@import 'assets/less/mixins.less';

/**
 * @variables
 */

@body-background:	#EEEEEE;
@footer-background:	#333333;
@border-color:		#CCCCCC;

@primary-color:		#1F6FD1;
@secondary-color:	#666666;

@heading-color:		#333333;
@text-color:		#666666;
@link-color:		#1F6FD1;

@heading-font:		'Helvetica Neue', sans-serif;
@text-font:			'Helvetica Neue', sans-serif;
	
/**
 * @typography
 *
 * Defines the styling of texst elements (e.g. font, size, colors, etc...)
 * 
 * @typography Default
 */

body {
	color: @text-color;
	font-family: @text-font;
	font-size: 14px;
	line-height: 25px;
	
	/**
	 * @typography Headings 
	 */
	
	h1, h2, h3, h4, h5, h6 {
		color: @heading-color;
		font-family: @heading-font;
		font-weight: normal;
		line-height: 1;
	}
	
	h1 { 
		font-size: 36px;
		margin: 0 0 24px 0;
	}
	
	h2 { 
		font-size: 24px;
		margin: 0 0 21px 0;
	}
	
	h3 { 
		font-size: 20px; 
		margin: 0 0 20px 0;
	}
	
	h4 { 
		font-size: 18px;
		margin: 0 0 17px 0;
	}
	
	h5 { 
		font-size: 16px;
		font-weight: bold;
		margin: 0 0 9px 0;
	}

	h6 { 
		font-size: 14px;
		font-weight: bold;
		margin: 0 0 11px 0;
	}
	
	/**
	 * @typography Content 
	 */
	
	p, ul, ol, address { margin: 0 0 20px 0; }

	ul, ol {
		line-height: 25px;
		list-style-position: outside;
		margin: 0 0 25px 25px;
		
		ul, ol { margin-bottom: 0; }
	
	}
	
	blockquote {
		border-left: 3px solid lighten(@text-color, 20%);
		color: lighten(@text-color, 20%);
		padding: 5px 0 5px 20px;
		
		p { margin: 0; }
	
	}
	
	pre { 
		color: #000 !important;
		margin-bottom: 24px;
		padding: 24px; 
	}
	
	/**
	 * @typography Links 
	 */

	a {
		color: @link-color;
		text-decoration: underline;
				
		&:hover { 
			color: lighten(@link-color, 20%);
			text-decoration: underline;
		}
		
		&.more:after, &.more-link:after { content: ' \00bb'; }
		&.back:before { content: '\00ab '; }
		
		&.prev {
			float: left;
			width: 40%; 
			
			&:before { content: '\00ab '; }
		
		}
		
		&.next {
			float: right; 
			text-align: right;
			width: 40%;			
		
			&:after { content: ' \00bb'; }
		
		}
		
		&.cta {
			.border-radius(3px);
			display: inline-block;
			height: 40px;
			line-height: 40px;
			padding: 0 20px;
			position: relative;
			text-decoration: none;
			
			&:hover { 
				color: #FFF;
				text-decoration: none;
			}
			
			&:active { top: 1px; }	
			
			&.primary {
				background: @primary-color;
				color: #FFF;
				
				&:hover { background: darken(@primary-color, 5%); }
				
				&:active, &:focus { background: lighten(@primary-color, 5%); }
			
			}
			
			&.secondary {
				background: @secondary-color;
				color: #FFF;
				
				&:hover { background: darken(@secondary-color, 5%); }
				
				&:active, &:focus { background: lighten(@secondary-color, 5%); }
			
			}		
		
		}
	
	}

}

/**
 * @misc
 *
 * Defines miscellaneous styles (e.g. images, form elements, etc.)
 */

/**
 * @misc Images
 */ 
 
img.alignleft, img.alignright {
	margin-top: 6px; 
	margin-bottom: 12px;
}

img.size-thumbnail, .wp-caption {
	background: #F7F7F7;
	border: 1px solid @border-color;
	padding: 4px;
		
	.wp-caption-text { font-size: 12px; }

}

/** 
 * @misc Forms
 */

#main input[type="submit"] {
	border-width: 0;
	background: @primary-color;
	color: #FFF;
	display: block;
	font-size: 14px;
	height: 35px;
	line-height: 35px;
	padding: 0 15px;
	position: relative;
	text-shadow: 0 1px 0 darken(@primary-color, 15%);
	
	&:focus, &:active {
		.box-shadow(none);
		background: darken(@primary-color, 10%);
		text-shadow: 0 1px 0 darken(@primary-color, 25%);
		top: 1px;
	}
	
}

/**
 * @layout
 *
 * Defines the layout of elements (e.g. position, size, margin, etc...)
 * 
 * @layout Default
 */
 
body {
	background: @body-background;
	
	/**
	 * @layout Header
	 */

	#header {
		background: @body-background;
		color: @text-color;
		height: auto;
		margin: 10px 0;
		
		a { 
			color: @text-color; 
			
			&:hover { color: darken(@text-color, 25%); }
		
		}
		
		// logo, sitename and description
				
		#logo {
					
			#sitename { 
				font: bold 38px @heading-font;
				line-height: 40px;
				margin: 0;
				
				a {
					color: @heading-color;
					position: relative;
					text-decoration: none;
				}
				
			}
			
			#description { margin: 0; }
			
		}
		
		// top navigation
				
		#topnav {
			float: right;
			margin: 10px 10px 0px 10px;
		
			ul {
				float: right;
				margin: 0;
				
				li { 
					display: inline-block;
					font-size: 12px;
					padding: 0 5px;
					
					a { text-decoration: underline; }
					
					&:last-child, &.last-child { padding-right: 0; }				
				
				}
			
			}
		
		}
		
		// search form
				
		#search {
			
			form { 
				float: right; 
				
				input[type="text"], input[type="submit"] {
					display: block;
					float: left;
					height: 28px;
					
					&:focus, &:active { .box-shadow(none); }
				
				} 
				
				input[type="text"] { 
					.placeholder(#999, #CCC);
					.border-radiuses(0, 0, 3px, 3px);
					border: 1px solid @border-color;
					border-right: none;
					margin-top: 0 !important; 
					padding-left: 10px;
					width: 188px; 
				}
				
				input[type="submit"] {
					.border-radiuses(3px, 3px, 0, 0);
					background: #FFF url('assets/img/search.png') no-repeat center center;
					border: 1px solid @border-color;
					border-left: none;
					text-transform: uppercase;
					text-indent: -999999px;	
					width: 32px;
				}
				
			}
			
		}
		
		// main navigation	
		
		#mainnav {
			background: @footer-background;
			height: auto;
			
			ul { 
				margin: 0;
				
				li { 
					display: inline;
					line-height: 40px;
					
					&:hover { 
						background: darken(@heading-color, 10%);
						color: #FFF;
					}
					
					a {
						color: #FFF;
						display: block;
						float: left;
						padding: 0 15px;
						
						&:hover { 
							background: darken(@heading-color, 10%);
							color: #FFF;
							text-decoration: none;
						}
						
					}
					
					ul { 
						width: 220px; 	
					
						ul { margin-left: 95px; }
						
					}					
					
					ul li a, ul ul li a, ul ul ul li a {
						background: @heading-color;
						padding: 0 0 0 15px;
						width: 100%;
					}
							
				}
				
			}
		
			ul > li.hover > a { background: darken(@heading-color, 10%); }
		
		}
		
		// breadcrumbs
				
		#breadcrumbs { 
			color: lighten(@text-color, 20%);
			font-size: 12px;
		}
		
	}
	
	/**
	 * @layout Main
	 */
	
	#main {
		background: @body-background;
		padding-bottom: 20px;
		
		// content
		
		#page-title { }
		
		.article-title {
			
			a { 
				color: @heading-color;
				text-decoration: none;
				
				&:hover { 
					color: @link-color;
					text-decoration: underline;
				}
				
			}
			
		}
		
		.meta { 
			color: lighten(@text-color, 20%);
			font-size: 13px;
			margin: 0 0 15px 0;
			
			a { 
				color: @text-color;
				
				&:hover { color: @link-color; } 
			}
			
		}
				
		/* Author */
		
		.author {
			background: #FFF;
			padding: 20px;
			margin: 0 0 20px 0;
			
			.author-avatar {
				float: left;
				margin: 5px 0 0 0;
			}
			
			.author-info {
				padding-left: 100px;
				
				ul.author-social {
					list-style: none;
					margin: 0;
					
					li {
						float: left;
						margin: 0 10px 20px 0;
						
						img,
						svg {
							height: 16px;
							width: 16px;
							margin: 0 5px 0 0;
							vertical-align: middle;
						}
					}
				}
				a.more {
					float: right;
					margin: 0 10px 10px 0;
				}
				
			}
			
		}

	}
	
	/**
	 * @layout Sidebar
	 */
	
	.sidebar {
	
		.widget {
			background: #FFF;
			font-size: 13px;
			margin: 0 0 20px 0;
			padding: 20px;
			
			.widgettitle { 	
				margin-top: 0;
				
				a { 
					color: @heading-color;
					text-decoration: none;
					
					&:hover { text-decoration: underline; }
					
				 }
			
			}
			
			ul {
				border-bottom: 1px solid @border-color;
				margin: 0;
				
				li { 
					border-top: 1px solid @border-color;
					display: block;
					line-height: 24px;
					padding: 5px;
					
					a { 
						color: @text-color;
						
						&:hover { color: @link-color; }
					 }
					 
					 ul {  
					 	border: none;

					 	li {
					 		border: none;
					 		margin-left: 15px;
					 	}
					 	
					}
					
				}
				
			}
			
			/**
			 * @widget Contact
			 */
			
			&.widget_tp_contact {
			
				span.label { 
					width: 80px;
					display: inline-block;
				}
				
			}
			
			/**
			 * @widget Social links
			 */
			
			&.widget_tp_social {
			
				ul {	
					list-style-type: none;
					margin: 0;
					padding: 0;
					
					&.large-icons {
						border-bottom: none;
						
						li {
							border-top: none;
							display: inline;
							padding: 0;
							
							a { 
								float: left;
								height: 32px;
								margin: 0 10px 10px 0;
								width: 32px;	
								
								span { display: none; }
								
							}
							
						}
						
						img, svg {
							height: 32px;
							margin: 0 10px 0 0;
							vertical-align: middle;
							width: 32px;
						}
	
					}
							
					&.small-icons {
						border-bottom: none;
						
						li {
							border-top: none;
							display: inline;
							
							a { 
								display: block;
								float: left;
								height: auto;
								margin: 0 5px 5px 0;
								width: 20px;	
								
								span { display: none; }
								
							}
							
						}
						
						img, svg {
							display: block;
							height: 20px;
							vertical-align: middle;
							width: 20px;
						}
						
					}

				}
				
			}
			
			/* @widget Tagcloud */
			
			&.widget_tag_cloud {
			
				.tagcloud {
				
					a {
						color: #FFF;
						background: #CCC;
						font-size: 12px !important;
						line-height: 25px;
						padding: 0 10px;
						margin: 0 3px 5px 0;
						display: inline-block;
						border-radius: 3px;
						
						&:hover { background: @link-color; }
					}
				
				}
			
			}
			
		}
		
	}
	
	/**
	 * @layout Footer
	 */
	
	#footer {
		background: @footer-background;
		color: #FFF;
		font-size: 13px;
		margin: 20px 0 0 0;
		
		a { 
			color: #FFF; 
			
			&:hover { color: #CCC; }
			
		}
		
		.sidebar {
		
			.widget {
				background: none;
				float: left;
				margin: 10px;
				padding: 20px 0;
				width: 220px;
				
				h3 { color: #FFF; }
				
				svg { fill: #FFF; }

			}
			
		}
		
		#credits {
			border-top: 1px solid @border-color;
			padding: 10px 0;
			
			p {	margin: 0; }
			
			#copyright { float: left; }
			
			#footernav { 
				float: right; 
				
				ul {
				
					li {
						display: inline;
						
						&:last-child a, &.last-child a { padding-right: 0; }

						a { 
							float: left;
							padding: 0 5px;
						}
						
					}
						
				}
				
			}
			
		}
		
	}
	
}

/**
 * @templates
 *
 * Defines the template specific styling
 *
 * @template front-page.php
 */

.home {

	#header { margin-bottom: 20px; }
	
}

/**
 * @template index.php
 */

.blog, .archive {

	article {
		margin: 0 0 20px 0;
		float: left;
	
		.article-title { margin-bottom: 5px; }
		
	}
	
}

/**
 * @template single.php
 */

.single {

	article {

		#page-title { margin-bottom: 5px; }
		
		.share {
			clear: both;
			margin: 0 0 20px 0;
			
			.addthis_button_facebook_like,
			.addthis_button_facebook_like iframe { width: 125px !important; }
			.addthis_button_tweet { width: 95px; }
			
		}
		
	}
	
	#comments { 
		clear: both;
		float: left;
		margin: 25px 0 0 0;
		width: 100%;
		
		.comments-title { margin-bottom: 15px; }
	
		.commentlist {
			clear: both;
			float: left;
			list-style-type: none;
			margin: 0;
			padding: 0;
			width: 100%;
			
			li:first-child { padding-top: 25px; }
			 
			 ul.children { 
			 	margin-top: 25px; 
			 	width: 100%;
			 	
			 	li:first-child { padding-top: 0 !important }
			 	
			 	li:last-child { margin-bottom: 0; }
			 	
			 }
			 
			 li {
			 	.border-box;
			 	clear: both;
				display: block;
				float: left;
				margin: 0 0 25px 0;
				min-height: auto;
				padding: 0 25px 0 0;
				width: 100%;
							
				.comment-body {
					position: relative;
				
					.comment-author {
						float: left;
						margin-bottom: 15px;
						
						.avatar { 
							float: left;
							margin-right: 20px;
						}
						
						cite { 
							display: block;
							float: left;
							font-family: @heading-font;
							font-size: 22px;
							font-style: normal;
						}
						
						.says { display: none; }
					
					}
					
					p {
						clear: both;
						display: inline-block;
						height: auto;
						margin-bottom: 15px;
						width: 100%;
					}
					
					.reply {	
						font-size: 12px;
						position: absolute;
						right: 0;
						top: 0;
					}
					
					.comment-meta {
						font-size: 12px;
						left: 80px;
						position: absolute;
						top: 30px;
						
						a {
							color: @text-color;
							cursor: text;
							text-decoration: none;
						}
						
						.comment-edit-link { display: none; }
						
					}
				}
			}
		}
		
		#respond { 
			border-top: 1px solid @border-color;
			border-bottom: 1px solid @border-color;
			clear: both;
			float: left;
			padding: 25px 0;
			position: relative;
			margin-bottom: 25px;
			width: 100%;
			
			p {
				clear: both;
				float: left;
				width: 100%;
				
				label { 
					float: left;
					width: 25%;
				}
				
			}
			
			small {
				font-size: 12px;
				position: absolute;
				right: 0;
				top: 20px;
			}
			
			input[type="text"], input[type="email"] {
				.border-box;
				display: block;
				font-size: 14px;
				height: 30px;
				padding: 0 5px;
				width: 35%;
			}
			
			textarea { 
				.border-box;
				display: block;
				font-size: 14px;
				padding: 5px;
				width: 75%; 
			}
			
			.form-allowed-tags { display: none; }
			
			input[type="submit"] {
				float: left;
				margin-left: 25%;
			}
			
		}
	
	}
	
	#pagination {
		float: left;
		width: 100%;
		
		.prev { float: left; }
		.next { float: right; }
		
	}

}

/**
 * @template search.php
 */

article .search-highlight { background: #FFFFB3; }

/**
 * @plugins
 *
 * Defines the plugin specific styling
 *
 * @plugin Gravity forms
 */

.gform_wrapper {
	
	.gform_heading, .gform_footer {	
		clear: both;
		margin-bottom: 1em;
		width: 100%;
	}
	
	.validation_error {
		background: #FFF;
		border: 1px solid #C44741;
		color: #C44741;
		display: block;
		margin-bottom: 1em;
		padding: 2%;
		width: 96%;
	}
	
	.gform_body {
		
		.gform_fields {
			list-style-type: none;
			margin: 0;
			padding: 0;
			
			.gfield {
				display: block;
				margin-bottom: 1em;
				width: 100%;
				
				.gfield_label {
					float: left; 
					width: 35%;
				}
				
				.gfield_description, .instruction {
					font-size: 13px;
					margin: 1em 0 0 35%;
					width: 50%;
					
					&.validation_message {
						color: #C44741;
					}
					
				}
				
				.small, .medium, .large { font-size: 13px; }
				
				.small { width: 25%; }
				.medium { width: 40%; }
				.large { width: 55%; }
				
				.gfield_checkbox, .gfield_radio {
					float: left;
					font-size: 13px;
					list-style-type: none;
					margin: 0 0 2em 0;
					padding: 0;
					width: 65%;
					
					label { 
						position: relative;
						top: -2px; 
					}
	
					label, input[type="text"] { margin-left: 10px; }
					
				}
				
				.ginput_complex {
					float: left;
					margin: 0 0 1em 0;
					width: 65%;
				
					span {
						clear: both;
						float: left;
						font-size: 13px;
						margin-bottom: 1em;
						width: 100%;
						
						label { 
							float: left; 
							margin-left: 2.5%;
							width: 40%;
						}
						
						input[type="text"] {
							float: left;
							width: 50%;
						}
					
					}
				
				}
			
			}
		
		}
	
	}
	
	.gform_footer {
		clear: both;
		
		.gform_button { margin: 2em 0 0 35%; }
		
	}

}

/**
 * @responsive
 *
 * Defines media queries for responsive layout on desktop, tablets and mobile devices
 *
 * @responsive Desktop
 */

@media (min-width: 980px) {
		
	#mainnav {
	
		select { display: none; }
	
	}

}

/**
 * @responsive Landscape phone to portrait tablet
 */

@media (max-width: 980px) {
	
	#header {
		
		#topnav, 
		#search { display: none; }
		
		#mainnav {
			margin-left: 0; 
			
			select { display: none; }

		}
	}
	
	.container {
			
		.container-inner {
			padding: 0 5%;
			width: 90%;
			
			.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
				margin: 10px 0;
			} 
			
			.sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
				clear: both;
				width: 100%;
			}
		}
		
		&#footer .sidebar, &#main .sidebar {
			padding: 0;
			width: 100% ;
			
			.widget {
				float: left;
				margin: 2% 2.1% 2% 0.5%;
				padding: 3.5% 3.5% 3.5% 3.7%;
				width: 41%;
				
				&.odd { margin-right: 0; }
			
			}
		
		}
	
	}	

}

/**
 * @responsive Mobile
 */

@media (max-width: 480px) {
	
	#header {
		
		#mainnav {
	
			select { 
				display: block;
				font-size: 14px;
				height: 2.4em;
				margin: 3.5% 5%;
				padding: 0 2%;
				width: 90%;
			}
		
			ul { display: none; }
		
		}
	}
	
	#main {
		
		#content { 
			padding-bottom: 20px;
			
			p.has-img { 
				clear: both;
				float: left;
				width: 100%;
			}
			
			img.alignleft, img.alignright, .wp-caption { 
				float: left;
				margin: 0 0 12px 0;
			}
			
			.wp-caption {
				background: transparent;
				border: none;
				clear: both;
				width: 100%;
				
				img { float: left; }
				
				p { 
					clear: both; 
					text-align: left;
				}
			
			}
		
		}
	
	}
	
	.container {
			
		.container-inner {
		
			.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol {
				clear: both;
				width: 100%;
			}
		}
		
		&#footer .sidebar, &#main .sidebar {
			
			.widget { 
				clear: both;
				margin: 2% 0;
				padding: 3%;
				width: 94%;
			}
		}
		
		&#footer {
		
			.sidebar {
				
				.widget {
					padding: 0;
					width: 100%
				}
			}
			
			#credits {
				
				#copyright, #footernav {
					text-align: center;
					width: 100%;
				
					ul {
						text-align: center;
						
						li {
							display: inline;
							
							a { float: none; }
						
						}
					
					}
				
				}
			
			}
			
		}
	
	}

}