<div class="comments">

	{% if have_comments %}

		<h2>
			{{ fn('_n', 'One response to &ldquo;%2$s&rdquo;', '%1$s responses to &ldquo;%2$s&rdquo;', post.comment_count, 'tp')|format(post.comment_count,'<span>'~post.title~'</span>') }}
		</h2>
		
		<ol>
			{{ comment_list }}
		</ol>

		{% if comment_pages %}
			<nav class="pager">
				{{ comment_pages }}
			</nav>
		{% endif %}

	{% endif %}

	{{ fn('comment_form', {'comment_notes_after': ''}) }}

</div>
