{% if fn('comments_open') %}
  <div class="comments">
    {% if post.get_comment_count() > 0 %}
      <h2>
        {{ __('Comments', 'tp') }}
      </h2>

      <ol>
        {% for comment in post.comments() %}
          {% include 'partials/comment.twig' %}
        {% endfor %}
      </ol>
    {% endif %}

    {{ fn('comment_form', {'comment_notes_after': ''}) }}
  </div>
{% endif %}
