<article class="{{ post.class }}">
  <h2>
    <a href="{{ post.link }}">
      {{- post.title -}}
    </a>
  </h2>

  {% include 'partials/post-meta.twig' %}

  {{ post.get_preview(100, false, __('Read more', 'tp'))|wpautop }}
</article>
