<div class="search-form">

	<form action="{{ site.url }}" method="get">
		<input class="search-form-input" type="text" name="s" placeholder="{{ __('Search', 'tp' ) }}&hellip;" value="{{ fn('get_search_query') }}" />
		<button class="search-form-submit" type="submit">
			<span class="search-icon"></span>
		</button>
	</form>

</div>
