{% include 'header.twig' %}

{% if subheader %}
	{% include 'partials/subheader.twig' %}
{% endif %}

<section id="main">

	<div class="wrapper">

		<section id="content">

			{% block content %}
				{{__( 'No results found.', 'tp' )}}
			{% endblock %}

		</section>

	</div>

</section>

{% include 'footer.twig' %}
