{% include 'header.twig' %}

<section id="main">

	<div class="wrapper">
		
		<section id="content">

			{% block content %}
				{{__( 'No results found.', 'tp' )}}
			{% endblock %}
			
		</section>

	</div>
	
</section>

{% include 'footer.twig' %}
