
/**
 * @section    Responsive
 * @subsection Mobile
 */

@media (max-width: 640px) {

	// main navigation

	#main-navigation {

		ul.menu {

			// second level

			ul.sub-menu {

				li {
					

					/* third level */

					ul { 
						border: none;
						left: 0;
						margin: 0;
						padding: 0 15px;

						a {
							font-size: 12px;
						}
					}
				}
			}
		}
	}

	#main {
		border-top: 1px solid $border-color;
		margin-top: 0;
		padding: 30px 0;

		aside {
			.widget {
				margin: 0 0 20px 0;
				width: 100%;

				&:nth-child(odd) {
					margin-right: 0;
				}

				&:nth-child(even) {
					margin-left: 0;
				}
			}
		}

		#content {
			h1 {
				margin-bottom: $line-height;
			}
		}
	}

	#footer {
		aside {
			.widget {
				margin: 0 0 20px 0;
				width: 100%;

				&:nth-child(odd) {
					margin-right: 0;
				}

				&:nth-child(even) { 
					margin-left: 0;
				}
			}
		}

		#credits {
			padding-bottom: $line-height;
			
			#copyright,
			nav {
				text-align: center;
				width: 100%;

				ul {
					margin: 0;
				}

				ul li a {
					float: none;
				}
			}
		}
	}

	.home {
		#main {
			border-top: 0;
		}

		#sub-header {
			padding: 45px 0 60px 0;

			h1 {
				font-size: 32px;
				margin-bottom: 10px;
			}

			h2 {
				font-size: 20px;
			}
		}
	}

	.page {
		#content {
			padding-left: 0;
		}
	}
}