/**
 * @mixins
 */

/**
 * @mixin Animate 
 */

.animate-this(@what: all, @time: 0.5s, @ease: ease-in-out) {
	-webkit-transition: @what @time @ease;
	-moz-transition: @what @time @ease;
	-o-transition: @what @time @ease;
	-ms-transition: @what @time @ease;
	transition: @what @time @ease;
}

/**
 * @mixin Border radiuses (single)
 */

.border-radius (@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

/**
 * @mixin Border radiusses (multiple)
 */

.border-radiuses (@topright, @bottomright, @bottomleft, @topleft) {
	-webkit-border-top-right-radius: @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius: @bottomleft;
	-webkit-border-top-left-radius: @topleft;
	-moz-border-radius-topright: @topright;
	-moz-border-radius-bottomright: @bottomright;
	-moz-border-radius-bottomleft: @bottomleft;
	-moz-border-radius-topleft: @topleft;
	border-top-right-radius: @topright;
	border-bottom-right-radius: @bottomright;
	border-bottom-left-radius: @bottomleft;
	border-top-left-radius: @topleft;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

/**
 * @mixin Border-box
 */

.border-box {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

/**
 * @mixin Box-shadow
 */

.box-shadow (@shadow) {
	-webkit-box-shadow: @shadow;
	-moz-box-shadow: @shadow;
	box-shadow: @shadow;
}

/**
 * @mixin Collumns
 */

.columns(@number, @gap) {
	-moz-column-count: @number;
	-webkit-column-count: @number;
	column-count: @number;
	-moz-column-gap: @gap;
	-webkit-column-gap: @gap;
	column-gap: @gap;
}

/** 
 * @mixin Elipsis
 */
 
.elipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/**
 * @mixin Font Awesome
 * 
 * website: http://fontawesome.io/icons/
 * cheatsheet: http://fortawesome.github.io/Font-Awesome/cheatsheet/
 */

.font-awesome-before(@glyph) {
	position: relative;
 
	&:before {
		content: @glyph;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
	}

}

.font-awesome-after(@glyph) {
    position: relative;
 
	&:after {
		content: @glyph;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
	}

}

/**
 * @mixin Grayscale (for images)
 */

.grayscale {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%); 
	-o-filter: grayscale(100%); 
	-webkit-filter: grayscale(1);
	filter: gray;
}

/**
 * @mixin HEX to RGBA
 */

.rgba(@color, @alpha) {

	@alphacolor: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
	@ieAlphacolor: argb(@alphacolor);
	
	background-color: @color;
	background-color: @alphacolor; 
	
	zoom: 1;
	background-color: transparent\9;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieAlphacolor}, endColorstr=@{ieAlphacolor})";
    filter:  ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieAlphacolor}, endColorstr=@{ieAlphacolor})";	
}

/**
 * @mixin Horizontal gradient
 */

.horizontal-gradient (@startColor, @endColor) {
 	background-color: @startColor;
	background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(left, @startColor, @endColor);
	background-image: -moz-linear-gradient(left, @startColor, @endColor);
	background-image: -ms-linear-gradient(left, @startColor, @endColor);
	background-image: -o-linear-gradient(left, @startColor, @endColor);
}

/**
 * @mixin Mobile navigation
 */

.maxDepth (@index) when (@index > 0) {
	(~".depth@{index}") {
		text-indent: @index * 15px - 15px;
	}
	.maxDepth(@index - 1);
}

.maxDepth (0) {}

#mainnav select { .maxDepth(10); }

/**
 * @mixin Opacity
 */

.opacity (@opacity: 0.5) {
	-webkit-opacity: @opacity;
	-moz-opacity: @opacity;
	opacity: @opacity;
}

/**
 * @mixin Placeholder
 */

.placeholder(@out, @on) {
	
	.animate {
		
		.animate-this(all, 0.25s, ease-in-out);
	
	}
	
	&:-moz-placeholder { color: @out; }
	&::-moz-placeholder { color: @out; }
	&:-ms-input-placeholder { color: @out; }
	&::-webkit-input-placeholder { color: @out; }
	
	&:focus:-moz-placeholder { 
		.animate; 
		color: @on; 
	}
	
	&:focus::-moz-placeholder { 
		.animate;
		color: @on;
	}
	
	&:focus:-ms-input-placeholder { 
		.animate;
		color: @on; 
	}
	
	&:focus::-webkit-input-placeholder { 
		.animate;
		color: @on; 
	}
  
}

/**
 * @mixin Sprites
 */
    
.sprite(@top, @left) {
	background-image: url('assets/images/sprite-x1.png');
	background-repeat: no-repeat;
	background-position: @top @left;
	
	/* 	note: important! make sure the width and height are the same. 
		otherwise the retina version will look extremely crappy.
	*/	
	
	@media only screen and (-webkit-min-device-pixel-ratio: 2.0),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2) {
		background-image: url('assets/images/sprite-x2.png');
		background-position: @top x 2 @left x 2;
		background-size: 500px 500px;
	}
	
}
    
/**
 * @mixin Vertical gradient
 */

.vertical-gradient (@startColor, @endColor) {
	background-color: @startColor;
	background-image: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(top, @startColor, @endColor);
	background-image: -moz-linear-gradient(top, @startColor, @endColor);
	background-image: -ms-linear-gradient(top, @startColor, @endColor);
	background-image: -o-linear-gradient(top, @startColor, @endColor);
}