.tp-filters {
	overflow: hidden;
}
	.tp-filters h2 {
		margin-top: 0px!important;
	}

.tp-filters .tp-filter {
	float: left;
	width: 47%;
}
.tp-filters .filterable {
	position: relative;
}
.tp-filters .not-filterable {
	padding-right: 20px;
}
	.tp-filters .not-filterable ul {
		min-height: 100px;
	}
	.tp-filters .filterable ul, .tp-filters .placeholder {
		border: 3px dashed #ddd;
		height: 100%;
		padding: 8px 8px 2px 8px;
	}
		.tp-filters .filterable ul:hover, .tp-filters .placeholder:hover, .tp-filters .filterable ul.hover, .tp-filters .placeholder.hover {
			border-color: #999;
			color: #999;
		}
		.tp-filter li {
			border: 1px solid #ccc;
			background: #eee;
			padding: 6px;
			cursor: move;
			color: #333!important;
		}



.tp-filters.placeholding .filterable ul {
	height: 100px;
	border: none;
}

.tp-filters .placeholder {
	display: none;
	
	position: absolute;
	top: 47px;
	height: auto;
	width: 100%;
	
	background: #fcfcfc;
	color: #ccc;
}
	.tp-filters .placeholder p {
		padding: 0px 30px;
		text-align: center;
		font-size: 16px;
	}