@mixin button() {
  @include hover((
    'background-color': shade($primary-color, 25%),
    'color': $white,
  ));
  background-color: $primary-color;
  border: 0; // Remove border from button inputs
  border-radius: 0; // Fix for buttons on iOS
  color: $white;
  display: inline-block;
  font-weight: 600;
  white-space: normal; // Fix for wide button inputs that won't flow to the next line
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}
