@include placeholder();

label {
  color: $heading-color;
  font-weight: 600;
}

input,
select,
textarea,
button {
  outline: 0; // Remove blue glow
}

input:not([type="button"]):not([type="checkbox"]):not([type="file"]):not([type="radio"]):not([type="submit"]),
select,
textarea {
  appearance: none; // Remove built-in browser/device styling
  background: $white;
  border: 1px solid $border-color;
  border-radius: 0;
  display: block;
  font-size: 16px; // Disable iOS zoom on focus
  height: 3em;
  padding: 0 15px;

  @include respond-to('medium') {
    font-size: 14px;
  }

  &:focus {
    border: 1px solid shade($border-color, 20%);
  }
}

[type="button"],
[type="submit"],
button {
  @include button();
}

select {
  &[multiple] {
    height: auto;
    max-height: 200px;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  &:not([multiple]) {
    background: url('data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==') no-repeat right 10px center;
  }

  option {
    padding: 5px 10px;
  }
}

textarea {
  line-height: map-get($line-height, 'base');
  max-width: 100%; // Android bug
  min-height: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
  resize: vertical;
}
