table {
  display: inline-block;
  margin: 0 0 $text-margin;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;

  @include respond-to('large') {
    white-space: normal;
  }

  th,
  td {
    border: 1px solid $border-color;
    line-height: map-get($line-height, 'small');
    padding: 0.5em;
    text-align: left;
  }
}
