/**
 * Typography
 */

html {
  -webkit-font-smoothing: antialiased;
}

/* Core style */

body {
  color: $text-color;
  font-family: $text-font;
  font-size: 14px;
  line-height: $line-height;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-family: $heading-font;
  font-weight: 700;
  line-height: 1.325em;
  margin: 0 0 $line-height;

  a {
    color: $heading-color;
    text-decoration: none;
  }

  a:hover {
    color: $link-color;
    text-decoration: none;
  }
}

h1 {
  @include font-size($h1-font-sizes);
}

h2 {
  @include font-size($h2-font-sizes);
}

h3 {
  @include font-size($h3-font-sizes);
}

h4 {
  @include font-size($h4-font-sizes);
}

h5 {
  @include font-size($h5-font-sizes);
}

h6 {
  @include font-size($h6-font-sizes);
}

/* Hyperlinks */

a {
  color: $link-color;
  outline: 0;
  text-decoration: underline;

  &:hover {
    color: shade($link-color, 20%);
    text-decoration: underline;
  }

  /* Style for read-more, previous and next hyperlinks */

  &.read-more:after,
  &.prev:before,
  &.next:after {
    display: inline-block;
  }

  &.prev:before {
    content: '«';
    padding-right: 5px;
  }

  &.read-more:after,
  &.next:after {
    content: '»';
    padding-left: 5px;
  }
}

/* Paragraphs */

p {
  margin: 0 0 $line-height;
}

/* Emphasized and italic */

em,
i {
  font-style: italic;
}

/* Ordered and unordered lists */

ul,
ol {
  list-style-position: outside;
  margin: 0 0 $line-height;

  ul,
  ol {
    margin: 0 0 0 20px;
  }
}

/* Blockquotes and cites */

blockquote {
  color: $text-light;
  display: inline-block;
  font-style: italic;
  margin: 0 0 $line-height;
  text-align: center;
  width: 100%;

  p {
    display: inline;
  }

  cite {
    display: block;
    margin-top: 10px;
  }
}

cite {
  color: $text-color;
  display: block;
  font-style: normal;
  font-weight: bold;
  margin: 5px 0 10px;

  a {
    color: $text-color;
  }
}

/* Code and preformatted */

code,
pre {
  background-color: $code-color;
  color: $text-color;
}

pre {
  margin-bottom: $line-height;
  padding: 20px;
  white-space: pre-wrap;
}
