@mixin box-link($args: ()) {
  $defaults: (
    'background-color': $light-background,
    'color': $text-color,
    'padding': (
      'horizontal': 1em,
      'vertical': 0,
    ),
  );

  $settings: map-merge($defaults, $args);

  // Deep merge padding
  $padding: map-get($settings, 'padding');

  @if $padding {
    $padding: map-merge(map-get($defaults, 'padding'), $padding);
  }

  @include box((
    'background-color': map-get($settings, 'background-color'),
  ));
  color: map-get($settings, 'color');
  display: inline-block;
  padding: map-get($padding, 'vertical') map-get($padding, 'horizontal');
  text-decoration: none;
}
