@mixin button() {
  @include box-link((
  	'background-color': $primary-color,
  	'color': $white,
  	'height': 60px,
  	'horizontal-padding': 30px,
  ));
  @include hover((
    'background-color': shade($primary-color, 25%),
    'color': $white,
  ));
  font-size: 18px;
  font-weight: 600;
  margin: 0 20px 20px 0;
  text-transform: uppercase;
}
