@mixin button() {
  @include hover((
    'background-color': shade($primary-color, 25%),
    'color': $white,
  ));
  background-color: $primary-color;
  border: 0;
  border-radius: 0;
  color: $white;
  display: inline-block;
  font-weight: 600;
  margin: 0 20px 20px 0;
  padding: 0.667em 1.667em;
  text-decoration: none;
  text-transform: uppercase;
}
