@mixin tag() {
  @include hover((
  	'background-color': $primary-color,
  	'color': $white,
  ));
  background-color: $light-background;
  color: $text-color;
  display: block;
  float: left;
  font-size: map-get($font-sizes, 'text-small');
  margin: 0 5px 5px 0;
  padding: 0 1em;
  text-decoration: none;
}
