@mixin wrapper-padding() {
  $wrapper-padding: map-get($wrapper, 'padding');

  padding: 0 map-get($wrapper-padding, 'small');

  @include respond-to('medium') {
    padding: 0 map-get($wrapper-padding, 'medium');
  }
}
