.logo {
  font-family: $heading-font;
  font-size: map-get($font-sizes, 'h3');
  font-weight: 600;
  line-height: map-get($header-height, 'toggle-navigation');

  @include respond-to('toggle-navigation') {
    line-height: map-get($header-height, 'full');
  }
}
