/* 	=====
	RESET
	===== */
	
/* 	HTML5 DOCTOR RESET 
	------------------ */	

html { overflow-y: scroll; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline; }
	
table, tbody, tfoot, thead, tr, th, td {
	border-collapse: collapse;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline; }	

body { line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu,nav, section { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

input, select { vertical-align: middle; }

.ie7 img { -ms-interpolation-mode: bicubic; }

/* 	==========
	TYPOGRAPHY
	========== */

/*	COMMON TYPOGRAPHY
	----------------- */

body, p { 
	font: normal 14px/25px "helvetica neue", helvetica, arial, sans-serif; 
	-webkit-text-size-adjust: none !important; }

p { margin: 0 0 20px 0; }

h1, h2, h3, h4, h5, h6 { 
	font-family: "helvetica neue", helvetica, arial, sans-serif; 
	font-weight: bold; }

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { text-decoration: underline; }

h1 { 
	font-size: 32px ;
	line-height: 40px; 
	margin: 0 0 20px 0; }

h2 { 
	font-size: 26px ;
	line-height: 30px; 
	margin: 0 0 20px 0; }

h3 { 
	font-size: 20px ;
	line-height: 30px; 
	margin: 0 0 10px 0; }

h4 { 
	font-size: 16px ;
	line-height: 25px; 
	margin: 0 0 10px 0; }

h5 { 
	font-size: 14px ;
	line-height: 25px; 
	margin: 0 0 10px 0; }

h6 { 
	font-size: 14px ;
	line-height: 25px; 
	margin: 0; }

/* Links */

a { 
	color: #12C;
	cursor: pointer;
	outline: 0; }

a:hover, 
a:focus { color: #666; }

/* other */

strong, b { font-weight: bold; }

em, i { font-style: italic; }

blockquote, 
blockquote p,
q { 
	font-style: italic; }
		
ul, ol {
	line-height: 25px;
	margin: 0 0 20px 25px;
	list-style-position: outside; }

ul ul, ol ol, ul ol, ol ul { margin: 0 0 0 20px; }

ol ol { list-style-type: lower-latin; }
		
/* obscure */
		
cite { 
	font-style: normal;
	font-weight: bold; }
	
cite:before { content: '- '; }

dl, dialog { }
	
dl dt { font-weight: bold; }
	
dt { line-height: 50px; }

abbr, dfn, acronym { text-transform: uppercase; }
	
abbr[title], dfn[title], acronym[title] {
		border-bottom: 1px dotted;
		font-style: normal;
		cursor: help; }

code, pre { 
	background: #FFFFB3; }
	
pre {
	padding: 5px 10px; 
    margin-bottom: 22px; 
    white-space: pre-wrap;
 	white-space: -moz-pre-wrap;
 	white-space: -o-pre-wrap; }
	 	
sub, sup {
	font-size: 10px;
	height: 0;
	line-height: 1;
	padding: 0 2px 0 1px;
	position: relative;
	vertical-align: baseline; }
	
	sup { top: -5px; }
	sub { top: 4px; }

ins {
	background-color: #D1FFB3;
	text-decoration: none; }

mark {
	background-color: #FFFFB3;
	font-style: italic;
	font-weight: bold; }

del { 
	background: #FFB3B3;
	text-decoration: line-through; }

hr {
	border: 0;   
	border-top: 1px solid #CCCCCC;
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0; }

/*	FORM TYPOGRAPHY
	--------------- */

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="submit"],
textarea, 
select { 
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 13px; }

input[type="submit"] { font-weight: bold; }

/* 	====
	MISC
	==== */

.mute { opacity: 0.5; }

.remove { display: none; }

.clear { clear: both; }

.hide { 
	display: inline-block;
	visibility: hidden; }
	
.border { border: 1px solid red; }

/*  INTERACTION 
	-----------  */

/* suckerfish horizontal */

.sf-menu, .sf-menu * {
	list-style: none; 
	margin: 0;
	padding: 0; }
	
.sf-menu { line-height:	1.0; }

	.sf-menu ul {
		position: absolute;
		top: -999em;
		width: 10em; }
		
		.sf-menu ul li { width: 100%; }

		.sf-menu li:hover { visibility: inherit; }

		.sf-menu li {
			float: left;
			position: relative; }
			
			.sf-menu a {
				display: block;
				position: relative; }

			.sf-menu li:hover ul,
			.sf-menu li.sfHover ul {
				left: 0;
				top: 40px;
				z-index: 99; }

			ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul { top: -999em; }

			ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
				left: 10em;
				top: 0; }

			ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul { top: -999em; }

			ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
				left: 10em;
				top: 0; }

			/* skin */
			
			.sf-menu { float: left; }

				.sf-menu a {
					border: none;
					text-decoration: none; }

					.sf-menu li { background: none; }
					
						.sf-menu li li { background: none; }
						
							.sf-menu li li li { background: none; }
							
								.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
									background: none;
									outline: 0; }
	
				/* arrows */
				
				.sf-sub-indicator { display: none; }

/*	PAGINATION
	---------- */
				
nav#pagination {
	clear: both;
	float: left;
	font-size: 14px; 
	height: auto;
	margin: 0 0 25px 0;
	width: 100%; }
	
	nav#pagination span.pagination-title { display: none; }
	
	nav#pagination ul { 
		width: auto; 
		text-align: center;
		margin: 0; }
				
		nav#pagination ul li { 
			display: inline-block;
			list-style-type: none; }
		
			nav#pagination ul li a { text-decoration: none; }
			
			nav#pagination ul li a.pagination-page,
			nav#pagination ul li span.pagination-current { 
				border: 1px solid #CCC;
				position: relative;
				margin: 0 3px;
				padding: 2px 6px; }
			
			nav#pagination ul li a.pagination-prev { 
				border: none;
				margin: 0 5px 0 0; }
			
			nav#pagination ul li a.pagination-next { 
				border: none;
				margin: 0 0 0 5px; }
			
			nav#pagination .pagination-gap {
			    margin: 0 3px;
			    position: relative; }

			/* 	Previous and next post links */
			
			nav#pagination .previous-post {
				float: left;
				margin: 0 10px 0 0; }
				
			nav#pagination .next-post {
				float: right;
				margin: 0 0 0 10px; }	
	
/* 	---------
	WORDPRESS 
	--------- */
	
/* 	IMAGES
	------ */

.entry-content img { margin: 0 0 25px 0; }

.alignleft, img.alignleft {
	display: inline;
	float: left; 
	margin-right: 20px; }
	
.alignright, img.alignright {
	display: inline;
	float: right;
	margin-left: 20px; }
	
.aligncenter, img.aligncenter {
	clear: both;
	display: block;
	margin: 0px auto; }
	
.alignnone, img.alignnone {}

.wp-caption {
	margin-bottom: 10px;
	padding-top: 5px;
	text-align: center; }
	
.wp-caption img {
	border: 0 none;
	margin: 0;
	padding: 0; }
	
.wp-caption p.wp-caption-text { margin: 0; }
	
.wp-smiley {
	margin: 0 !important;
	max-height: 1em; }
	
/*	GALLERY
	------- */

.gallery { 
	margin-bottom: 25px;
	width: auto;
	padding: 9px;
	border: 1px solid #CCCCCC;
	overflow: auto; }

	.gallery dl {
		display: block;
		float: left;
		margin: 10px;
		height: auto;
		width: auto; }
		
		.ie7 .gallery dt { margin-bottom: 25px; }
	
		.gallery dt {
			height: 128px;
			width: 128px; }
		
			.gallery dt img {
				float: left;
				height: auto; 
				width: auto; }
		
		.gallery dd { display: none; }
		.gallery br { display: none; }

/* 	BLOCKQUOTES
	----------- */
	
blockquote.left {
	float: left;
	margin-right: 20px;
	margin-left: 0;
	text-align: right;
	width: 33%; }
	
blockquote.right {
	float: right;
	margin-left: 20px;
	margin-right: 0;
	text-align: left;
	width: 33%; }

/*	WIDGETS
	------- */

table#wp-calendar, .widget_archive li { text-transform: capitalize; }

/* calendar */

	table#wp-calendar {
		border-right: none;
		border-bottom: none; 
		border-left: none; }
	
		table#wp-calendar tr th, table#wp-calendar tr td { 
			text-align: center;
			vertical-align: center; }
					
			table#wp-calendar thead tr th:first-child, table#wp-calendar tbody tr td:first-child { border-left: 1px solid #000000; }
			
			table#wp-calendar tfoot, table#wp-calendar tfoot tr, table#wp-calendar tfoot tr td { border: none !important; }
			
			table#wp-calendar tfoot td#prev { text-align: left; }
			table#wp-calendar tfoot td#next { text-align: right; }
		
/* rss */

.widget_rss ul li { padding: 10px 5px 15px 5px !important; }

	div.widget_rss ul li a.rsswidget { 
		display: block; 
		font-weight: bold;
		font-size: 16px;
		line-height: 25px;
		margin: 0 0 0 0; }
		
		div.widget_rss h3 img { display: none; }

	div.widget_rss ul li span.rss-date { 
		font-size: 12px; 
		margin: 0 0 10px 0; }
		
	div.widget_rss ul li span.rss-date, div.widget_rss ul li cite { display: block; }
	
/* social media widget */
	
	/* small icons with text*/
	
	.social-media-widget.small-icons li a { padding-left: 30px; }

	.social-media-widget.small-icons li.twitter a, .social-media-widget.small-icons-no-text li.twitter a { background: url('../img/social/twitter_16.png') no-repeat center left; }	
	.social-media-widget.small-icons li.facebook a, .social-media-widget.small-icons-no-text li.facebook a { background: url('../img/social/facebook_16.png') no-repeat center left; }
	.social-media-widget.small-icons li.linkedin a, .social-media-widget.small-icons-no-text li.linkedin a { background: url('../img/social/linkedin_16.png') no-repeat center left; }
	.social-media-widget.small-icons li.googleplus a, .social-media-widget.small-icons-no-text li.googleplus a { background: url('../img/social/googleplus_16.png') no-repeat center left; }
	.social-media-widget.small-icons li.youtube a, .social-media-widget.small-icons-no-text li.youtube a { background: url('../img/social/youtube_16.png') no-repeat center left; }
	.social-media-widget.small-icons li.email a, .social-media-widget.small-icons-no-text li.email a { background: url('../img/social/email_16.png') no-repeat center left; }
	.social-media-widget.small-icons li.rss a, .social-media-widget.small-icons-no-text li.rss a { background: url('../img/social/rss_16.png') no-repeat center left; }

	/* small icons with text*/
	
	.social-media-widget.small-icons-no-text ul { 
		border: none;
		display: block;
		padding: 5px 0 20px 0; }

		.social-media-widget.small-icons-no-text li { 
			border: none;
			display: block;
			float: left;
			height: 16px;
			margin: 0 4px 4px 0;
			padding: 0;
			width: 16px; }
			
			.social-media-widget.small-icons-no-text li a { 
				display: block;
				height: 16px;
				text-indent: -999999px;
				width: 16px; }
				
	/* big icons */

	.social-media-widget.great-icons li { padding: 5px 0; }
	
		.social-media-widget.great-icons li a { 
			display: inline-block;
			height: 36px;
			line-height: 36px;
			padding-left: 42px; }

	.social-media-widget.great-icons li.twitter a, .social-media-widget.great-icons-no-text li.twitter a { background: url('../img/social/twitter_32.png') no-repeat center left; }	
	.social-media-widget.great-icons li.facebook a, .social-media-widget.great-icons-no-text li.facebook a { background: url('../img/social/facebook_32.png') no-repeat center left; }
	.social-media-widget.great-icons li.linkedin a, .social-media-widget.great-icons-no-text li.linkedin a { background: url('../img/social/linkedin_32.png') no-repeat center left; }
	.social-media-widget.great-icons li.googleplus a, .social-media-widget.great-icons-no-text li.googleplus a { background: url('../img/social/googleplus_32.png') no-repeat center left; }
	.social-media-widget.great-icons li.youtube a, .social-media-widget.great-icons-no-text li.youtube a { background: url('../img/social/youtube_32.png') no-repeat center left; }
	.social-media-widget.great-icons li.email a, .social-media-widget.great-icons-no-text li.email a { background: url('../img/social/email_32.png') no-repeat center left; }
	.social-media-widget.great-icons li.rss a, .social-media-widget.great-icons-no-text li.rss a { background: url('../img/social/rss_32.png') no-repeat center left; }
		
	/* small icons with text*/
	
	.social-media-widget.great-icons-no-text ul { 
		border: none;
		display: block;
		padding: 5px 0 40px 0; }

		.social-media-widget.great-icons-no-text li { 
			border: none;
			display: block;
			float: left;
			height: 32px;
			margin: 0 4px 4px 0;
			padding: 0;
			width: 32px; }
			
			.social-media-widget.great-icons-no-text li a { 
				display: block;
				height: 32px;
				text-indent: -999999px;
				width: 32px; }	
			
/* widget contact-widget */

.contact-widget span { 
	display: inline-block;
	font-weight: bold;
	width: 35%;
	min-width: 75px; }
	
	.contact-widget ul {
		clear: both;
		display: block;
		float: left;
		height: auto;
		width: 100%; }
		
		.contact-widget ul.other { padding-bottom: 0 !important; }
		
		.contact-widget li { clear: both; }

/* 	======
	TABLES
	====== */

table { 
	border: 1px solid #000000;
	border-collapse: collapse;
	border-spacing: 0;	
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 20px;
	width: 100%; }
	
	table caption { 
		font-size: 14px;
		font-weight: bold;
		line-height: 22px;
		margin-bottom: 22px;
		text-align: left; }
		
		.ie7 table caption { height: 44px;}

	table tr { border-bottom: 1px solid #000000 !important; }
	
		.ie7 table td { border-bottom: 1px solid #000000 !important; }
	
		table th { 
			padding: 5px 10px;
			text-align: left; }
			
		table thead { font-weight: bold; }
			
		table td { padding: 5px 10px; }
		
		table td, table th { border-right: 1px solid #000000; }

/* 	=====
	FORMS
	===== */

/*	FORMALIZE
	--------- */	
	
.input_tiny { width: 50px; }
.input_small { width: 100px; }
.input_medium { width: 150px; }
.input_large { width: 200px; }
.input_xlarge { width: 250px; }
.input_xxlarge { width: 300px; }
.input_full { width: 100%; }

.input_full_wrap {
	display: block;
	padding-right: 8px; }

input[type="search"]::-webkit-search-decoration { display: none; }

input:invalid, button:invalid, select:invalid, textarea:invalid {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none; }

input:focus, button:focus, select:focus, textarea:focus {
	-webkit-box-shadow: #0066ff 0 0 5px 0;
	-moz-box-shadow: #0066ff 0 0 5px 0;
	box-shadow: #0066ff 0 0 5px 0;
	z-index: 1; }

input[type="file"]:focus, input[type="file"]:active, input[type="radio"]:focus, input[type="radio"]:active, input[type="checkbox"]:focus, input[type="checkbox"]:active {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none; }

button, input[type="reset"], input[type="submit"], input[type="button"] {
	-webkit-appearance: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	background: #dddddd url('../img/formalize/button.png') repeat-x;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
	background-image: -webkit-linear-gradient(#ffffff, #dddddd);
	background-image: -moz-linear-gradient(#ffffff, #dddddd);
	background-image: -o-linear-gradient(#ffffff, #dddddd);
	background-image: -ms-linear-gradient(#ffffff, #dddddd);
	background-image: linear-gradient(#ffffff, #dddddd);
	border: 1px solid;
	border-color: #dddddd #bbbbbb #999999;
	cursor: pointer;
	color: #333333;
	outline: 0;
	overflow: visible;
	margin: 0;
	padding: 3px 10px;
	text-shadow: white 0 1px 1px;
	vertical-align: top;
	width: auto;
	*padding-top: 2px;
	*padding-bottom: 0; }
	
button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #eeeeee), color-stop(100%, #cccccc));
	background-image: -webkit-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
	background-image: -moz-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
	background-image: -o-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
	background-image: -ms-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
	background-image: linear-gradient(#ffffff, #eeeeee 1px, #cccccc); }

button:active, input[type="reset"]:active, input[type="submit"]:active, input[type="button"]:active {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #dddddd), color-stop(100%, #eeeeee));
	background-image: -webkit-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
	background-image: -moz-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
	background-image: -o-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
	background-image: -ms-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
	background-image: linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
	-webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
	-moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
	box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
	border-color: #999999 #bbbbbb #dddddd; }

button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
	border: 0;
	padding: 0; }

button {
	*padding-top: 1px;
	*padding-bottom: 1px; }

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-appearance: none;
	background-color: white;
	border: 1px solid;
	border-color: #999999;
	color: black;
	outline: 0;
	margin: 0;
	padding: 2px 3px;
	text-align: left;
	height: 1.8em;
	vertical-align: top;
	*padding-top: 2px;
	*padding-bottom: 1px;
	*height: auto; }

textarea[disabled], select[disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="datetime-local"][disabled], input[type="email"][disabled], input[type="month"][disabled], input[type="number"][disabled], input[type="password"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="text"][disabled], input[type="time"][disabled], input[type="url"][disabled], input[type="week"][disabled] { background-color: #eeeeee; }

button[disabled], input[disabled], select[disabled], select[disabled] option, select[disabled] optgroup, textarea[disabled] {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	color: #888888;
	cursor: default; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #888888; }

input:-moz-placeholder, textarea:-moz-placeholder { color: #888888; }

input.placeholder_text, textarea.placeholder_text { color: #888888; }

textarea, select[size], select[multiple] { height: auto; }

select[size="0"],
select[size="1"] {
	height: 1.8em;
	*height: auto; }

@media (-webkit-min-device-pixel-ratio: 0) {
  
	select[size],
	select[multiple],
	select[multiple][size] {
		background-image: none;
		padding-right: 3px; }
	
	select,
	select[size="0"],
	select[size="1"] {
		background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
		background-repeat: no-repeat;
		background-position: right center;
		padding-right: 20px; }
	
	::-webkit-validation-bubble-message {
		-webkit-box-shadow: none;
		box-shadow: none;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
		border: 1px solid;
		border-color: #747474 #5e5e5e #4f4f4f;
		color: white;
		overflow: hidden;
		padding: 15px 15px 17px;
		text-shadow: black 0 0 1px;
		height: 16px; }
	
	::-webkit-validation-bubble-arrow,
	::-webkit-validation-bubble-top-outer-arrow,
	::-webkit-validation-bubble-top-inner-arrow {
		-webkit-box-shadow: none;
		box-shadow: none;
		background: #666666;
		border: 0; }

}

textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 90%; }

optgroup::-moz-focus-inner {
  border: 0;
  padding: 0; }
  
/*	GRAVITYFORMS
	------------ */

/* wrapper */

.gform_wrapper { width: 100%: }

/* inputs, select, textarea, etc. */

input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] { 
	padding: 3px; 
	margin: 10px 0 !important;
	width: 249px; }
	
select { 
	padding: 2px;
	margin: 10px 0;
	width: 249px; }
	
	.ie7 select { 
		display: block;
		width: 259px; }
	
textarea { 
	padding: 3px;
	margin: 10px 0; }

/* lists */
	
.gform_wrapper ul {
	list-style-type: none;
	list-style-image: none;
	list-style-type: none;
	list-style: none;
	margin: 0; 
	padding: 0; }
	
	.gform_wrapper ul li {
		clear: both;
		display: block;
		float: left;
		margin: 0; 
		padding: 0;
		width: 100%; }
		
/* labels */

.gform_wrapper label {
	display: inline-block;
	float: left; 
	position: relative;
	top: 10px;
	width: 25%; }

/* descriptions */

.gfield_description { margin-left: 25%; }
	
	.gfield_error .gfield_description {  }
	
/* tables */
		
	.gform_wrapper table, .gform_wrapper table tr, .gform_wrapper table td {
		background: none !important; 
		border: none !important; 
		margin: 0; 
		padding: 0; }
		
		.gform_wrapper table {
			display: block;
			float: left;
			width: 100%; }
			
			.gform_wrapper table td { width: auto; }

			.gform_wrapper table .gfield_list_icons img { 
				position: relative;
				left: 28px;
				top: 13px; }
			
			.ie9 .gform_wrapper table td, .ie8 .gform_wrapper table td, .ie7 .gform_wrapper table td { width: 50%; }
			
				.ie9 .gform_wrapper table .gfield_list_icons img { top: 4px; } 
				.ie8 .gform_wrapper table .gfield_list_icons img { top: 4px; }
				.ie7 .gform_wrapper table .gfield_list_icons img { top: -9px; }

/* submit */
				
.gform_button { 
	left: 25%;
	position: relative;
	top: 10px; }
				
/* date */

img.ui-datepicker-trigger { 
	position: relative;
	left: -21px;
	top: 13px; }
	
	.ie7 img.ui-datepicker-trigger { 
		position: relative;
		left: -21px;
		top: 15px; }

/* radio input */
	
.gform_wrapper ul.gfield_radio input { 
	float: left;
	margin: 14px 0 6px 0; }

.gform_wrapper ul.gfield_radio label { 
	float: left;
	margin-left: 10px; 
	width: auto !important; }
	
/* multiple input divs */	
	
.ginput_container { 
	display: block; 
	float: left; 
	height: auto;
	position: relative;
	width: 75%;
	z-index: 2; }

	.ginput_left, .ginput_right, .ginput_full { 
		display: block; 
		padding: 0; }	
	
	.ginput_left label, .ginput_right label, .ginput_full label { 
		float: right !important; 
		width: 40% !important; }
		
		.g1140 .ginput_left label, .g1140 .ginput_right label, .g1140 .ginput_full label { width: 49% !important; }
		
		.ie7 .ginput_left label, .ie7 .ginput_right label, .ie7 .ginput_full label { margin-top: -43px; }
		
		.ginput_container label { float: right; }
		
/* error messages */

.validation_message { 
	border: 1px solid red;
	color: red;
	padding: 5px 0 5px 20px; 
	position: relative;
	left: -20px;
	z-index: 1;  }
	
/* fix for WP adminbar search css bug */
	
#wpadminbar #adminbarsearch .adminbar-input {
	margin: 0 !important;
	vertical-align: middle;
}

/* 	======
	LAYOUT
	====== */

/* basic clear class for clearing floating elements */

.clear { clear: both; }

/* collumns */

.onecol, 
.twocol, 
.threecol, 
.fourcol, 
.fivecol, 
.sixcol, 
.sevencol, 
.eightcol, 
.ninecol, 
.tencol, 
.elevencol,
.twelvecol {
	float: left;
	margin: 10px; }

/* outer container, full width */
	
.container {
	display: block;
	clear: both;
	float: left;
	height: auto;
	min-width: 100%; }
	
	/* inner container, center aligned */

	.container .container-inner {
		margin: 0 auto;
		padding: 0 10px;
		width: 960px; }

		/* collumn specific widths */
		
		.onecol { width: 60px; }
		.twocol { width: 140px; }
		.threecol { width: 220px; }
		.fourcol { width: 300px; }
		.fivecol { width: 380px; }
		.sixcol { width: 460px; }
		.sevencol { width: 540px; }
		.eightcol { width: 620px; }
		.ninecol { width: 700px; }
		.tencol { width: 780px; }
		.elevencol { width: 860px; }
		.twelvecol { width: 940px; }
		
		/* set max width for images, objects and embeds */
		
		img, 
		object, 
		embed { max-width: 100%; }
		
		img { height: auto; }