/* 	=====
	RESET
	===== */
	
/* 	HTML5 DOCTOR RESET 
	------------------ */	

html { overflow-y: scroll; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline; }
	
table, tbody, tfoot, thead, tr, th, td {
	border-collapse: collapse;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline; }	

body { line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu,nav, section { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

input, select { vertical-align: middle; }

.ie7 img { -ms-interpolation-mode: bicubic; }

/* 	==========
	TYPOGRAPHY
	========== */

strong, b { font-weight: bold; }

em, i { font-style: italic; }

blockquote, blockquote p, q { 
	font-style: italic;
	margin: 0 0 20px 0; }
		
ul, ol {
	line-height: 25px;
	list-style-position: outside;
	margin: 0 0 20px 25px; }

ul ul, ol ol, ul ol, ol ul { margin: 0 0 0 20px; }

ol ol { list-style-type: lower-latin; }
		
/* obscure */
		
code, pre { background: #FFFFB3; }
	
pre {
	padding: 5px 10px; 
    margin-bottom: 22px; 
    white-space: pre-wrap;
 	white-space: -moz-pre-wrap;
 	white-space: -o-pre-wrap;
 }

hr {
	border: 0;   
	border-top: 1px solid #CCCCCC;
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
}


/* 	====
	MISC
	==== */

.clear { clear: both; }

/*  INTERACTION 
	-----------  */

/* suckerfish horizontal */

.sf-menu, .sf-menu * {
	list-style: none; 
	margin: 0;
	padding: 0;
}
	
.sf-menu { line-height:	1.0; }

	.sf-menu ul {
		position: absolute;
		top: -999em;
		width: 10em;
	}
		
		.sf-menu ul li { width: 100%; }

		.sf-menu li:hover { visibility: inherit; }

		.sf-menu li {
			float: left;
			position: relative;
		}
			
			.sf-menu a {
				display: block;
				position: relative;
			}

			.sf-menu li:hover ul,
			.sf-menu li.sfHover ul {
				left: 0;
				top: 40px;
				z-index: 99;
			}

			ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul { top: -999em; }

			ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
				left: 10em;
				top: 0; 
			}

			ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul { top: -999em; }

			ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
				left: 10em;
				top: 0;
			}

			/* skin */
			
			.sf-menu { float: left; }

				.sf-menu a {
					border: none;
					text-decoration: none;
				}

					.sf-menu li { background: none; }
					
						.sf-menu li li { background: none; }
						
							.sf-menu li li li { background: none; }
							
								.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
									background: none;
								}
	
				/* arrows */
				
				.sf-sub-indicator { display: none; }

/*	PAGINATION
	---------- */
				
nav#pagination {
	clear: both;
	float: left;
	font-size: 14px; 
	height: auto;
	margin: 0 0 25px 0;
	width: 100%;
}
	
	nav#pagination span.pagination-title { display: none; }
	
	nav#pagination ul { 
		margin: 0; 
		text-align: center;
		width: auto; 
	}
				
		nav#pagination ul li { 
			display: inline-block;
			list-style-type: none;
		}
		
			nav#pagination ul li a { text-decoration: none; }
			
			nav#pagination ul li a.pagination-page,
			nav#pagination ul li span.pagination-current { 
				border: 1px solid #CCC;
				position: relative;
				margin: 0 3px;
				padding: 2px 6px;
			}
			
			nav#pagination ul li a.pagination-prev { 
				border: none;
				margin: 0 5px 0 0;
			}
			
			nav#pagination ul li a.pagination-next { 
				border: none;
				margin: 0 0 0 5px;
			}
			
			nav#pagination .pagination-gap {
			    margin: 0 3px;
			    position: relative;
			}

			/* 	Previous and next post links */
			
			nav#pagination .previous-post {
				float: left;
				margin: 0 10px 0 0;
			}
				
			nav#pagination .next-post {
				float: right;
				margin: 0 0 0 10px;
			}

/*	BUGFIXES
	-------- */

/* Fix for vertical scroll bug tweet button */

#twttrHubFrame,
#twttrHubFrameSecure { left: 0; }

	
/* 	---------
	WORDPRESS 
	--------- */
	
/* 	IMAGES
	------ */

.entry-content img { margin: 0 0 25px 0; }

.alignleft, img.alignleft {
	display: inline;
	float: left; 
	margin-right: 20px;
}
	
.alignright, img.alignright {
	display: inline;
	float: right;
	margin-left: 20px;
}
	
.aligncenter, img.aligncenter {
	clear: both;
	display: block;
	margin: 0px auto;
}
	
.wp-caption {
	margin-bottom: 10px;
	padding-top: 5px;
	text-align: center;
}
	
.wp-caption img {
	border: 0 none;
	margin: 0;
	padding: 0;
}
	
.wp-caption p.wp-caption-text { margin: 0; }
	
.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
}
	
/*	GALLERY
	------- */

.gallery { 
	margin-bottom: 25px;
	overflow: auto;
	padding: 9px;
	width: auto;
}

	.gallery dl {
		display: block;
		float: left;
		height: auto;
		margin: 10px;
		width: auto;
	}
		
	.ie7 .gallery dt { margin-bottom: 25px; }
	
		
		.gallery dt img {
			float: left;
			height: auto; 
			width: auto;
		}
		
		.gallery dd, .gallery br { display: none; }

/* 	BLOCKQUOTES
	----------- */
	
blockquote.left {
	float: left;
	margin-right: 20px;
	margin-left: 0;
	text-align: right;
	width: 33%; 
}
	
blockquote.right {
	float: right;
	margin-left: 20px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}

/*	WIDGETS
	------- */

table#wp-calendar, .widget_archive li { text-transform: capitalize; }

/* calendar */

	table#wp-calendar {
		border-right: none;
		border-bottom: none; 
		border-left: none;
	}
	
		table#wp-calendar tr th, table#wp-calendar tr td { 
			text-align: center;
			vertical-align: center;
		}
					
			table#wp-calendar thead tr th:first-child, table#wp-calendar tbody tr td:first-child { border-left: 1px solid #000000; }
			
			table#wp-calendar tfoot, table#wp-calendar tfoot tr, table#wp-calendar tfoot tr td { border: none !important; }
			
			table#wp-calendar tfoot td#prev { text-align: left; }
			table#wp-calendar tfoot td#next { text-align: right; }
		
/* rss */

.widget_rss ul li { padding: 10px 5px 15px 5px !important; }

	div.widget_rss ul li a.rsswidget { 
		display: block; 
		font-weight: bold;
		font-size: 16px;
		line-height: 25px;
		margin: 0;
	}
		
	div.widget_rss h3 img { display: none; }

	div.widget_rss ul li span.rss-date { 
		font-size: 12px; 
		margin: 0 0 10px 0;
	}
		
	div.widget_rss ul li span.rss-date, div.widget_rss ul li cite { display: block; }
	
/* social media widget */
	
	/* small icons with text*/
	
	.widget_tp_social.small-icons li a { padding-left: 30px; }

	.widget_tp_social.small-icons li.twitter a, .widget_tp_social.small-icons-no-text li.twitter a { background: url('../img/social/twitter_16.png') no-repeat center left; }	
	.widget_tp_social.small-icons li.facebook a, .widget_tp_social.small-icons-no-text li.facebook a { background: url('../img/social/facebook_16.png') no-repeat center left; }
	.widget_tp_social.small-icons li.linkedin a, .widget_tp_social.small-icons-no-text li.linkedin a { background: url('../img/social/linkedin_16.png') no-repeat center left; }
	.widget_tp_social.small-icons li.googleplus a, .widget_tp_social.small-icons-no-text li.googleplus a { background: url('../img/social/googleplus_16.png') no-repeat center left; }
	.widget_tp_social.small-icons li.youtube a, .widget_tp_social.small-icons-no-text li.youtube a { background: url('../img/social/youtube_16.png') no-repeat center left; }
	.widget_tp_social.small-icons li.email a, .widget_tp_social.small-icons-no-text li.email a { background: url('../img/social/email_16.png') no-repeat center left; }
	.widget_tp_social.small-icons li.rss a, .widget_tp_social.small-icons-no-text li.rss a { background: url('../img/social/rss_16.png') no-repeat center left; }

	/* small icons with text*/
	
	.widget_tp_social.small-icons-no-text ul { 
		border: none;
		display: block;
		padding: 5px 0 20px 0;
	}

		.widget_tp_social.small-icons-no-text li { 
			border: none;
			display: block;
			float: left;
			height: 16px;
			margin: 0 4px 4px 0;
			padding: 0;
			width: 16px;
		}
			
			.widget_tp_social.small-icons-no-text li a { 
				display: block;
				height: 16px;
				text-indent: -999999px;
				width: 16px;
			}
				
	/* big icons */

	.widget_tp_social.great-icons li { padding: 5px 0; }
	
		.widget_tp_social.great-icons li a { 
			display: inline-block;
			height: 36px;
			line-height: 36px;
			padding-left: 42px;
		}

	.widget_tp_social.great-icons li.twitter a, .widget_tp_social.great-icons-no-text li.twitter a { background: url('../img/social/twitter_32.png') no-repeat center left; }	
	.widget_tp_social.great-icons li.facebook a, .widget_tp_social.great-icons-no-text li.facebook a { background: url('../img/social/facebook_32.png') no-repeat center left; }
	.widget_tp_social.great-icons li.linkedin a, .widget_tp_social.great-icons-no-text li.linkedin a { background: url('../img/social/linkedin_32.png') no-repeat center left; }
	.widget_tp_social.great-icons li.googleplus a, .widget_tp_social.great-icons-no-text li.googleplus a { background: url('../img/social/googleplus_32.png') no-repeat center left; }
	.widget_tp_social.great-icons li.youtube a, .widget_tp_social.great-icons-no-text li.youtube a { background: url('../img/social/youtube_32.png') no-repeat center left; }
	.widget_tp_social.great-icons li.email a, .widget_tp_social.great-icons-no-text li.email a { background: url('../img/social/email_32.png') no-repeat center left; }
	.widget_tp_social.great-icons li.rss a, .widget_tp_social.great-icons-no-text li.rss a { background: url('../img/social/rss_32.png') no-repeat center left; }
		
	/* small icons with text*/
	
	.widget_tp_social.great-icons-no-text ul { 
		border: none;
		display: block;
		padding: 5px 0 40px 0;
	}

		.widget_tp_social.great-icons-no-text li { 
			border: none;
			display: block;
			float: left;
			height: 32px;
			margin: 0 4px 4px 0;
			padding: 0;
			width: 32px;
		}
			
			.widget_tp_social.great-icons-no-text li a { 
				display: block;
				height: 32px;
				text-indent: -999999px;
				width: 32px;
			}	
			
/* widget contact-widget */

.contact-widget span { 
	display: inline-block;
	font-weight: bold;
	min-width: 75px;
	width: 35%; }
	
	.contact-widget ul {
		clear: both;
		display: block;
		float: left;
		height: auto;
		width: 100%; }
		
		.contact-widget ul.other { padding-bottom: 0 !important; }
		
		.contact-widget li { clear: both; }

/* 	======
	TABLES
	====== */

table { 
	border: 1px solid #000000;
	border-collapse: collapse;
	border-spacing: 0;	
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 20px;
	width: 100%;
}
	
	table caption { 
		font-size: 14px;
		font-weight: bold;
		line-height: 22px;
		margin-bottom: 22px;
		text-align: left;
	}
		
	.ie7 table caption { height: 44px;}

	table tr { border-bottom: 1px solid #000; }
	
		.ie7 table td { border-bottom: 1px solid #000; }
	
		table th { 
			padding: 5px 10px;
			text-align: left;
		}
			
		table thead { font-weight: bold; }
			
		table td { padding: 5px 10px; }
		
		table td, table th { border-right: 1px solid #000000; }

/* 	=====
	FORMS
	===== */

/*	GRAVITYFORMS
	------------ */
	
/* fix for WP adminbar search css bug */
	
#wpadminbar #adminbarsearch .adminbar-input {
	margin: 0 !important;
	vertical-align: middle;
}

/* 	======
	LAYOUT
	====== */

body { position: relative; }

/* collumns */

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
	float: left;
	margin: 10px;
}

/* outer container, full width */
	
.container {
	display: block;
	clear: both;
	float: left;
	height: auto;
	min-width: 100%;
}
	
	/* inner container, center aligned */

	.container .container-inner {
		margin: 0 auto;
		padding: 0 10px;
		width: 960px;
	}

		/* collumn specific widths */
		
		.onecol { width: 60px; }
		.twocol { width: 140px; }
		.threecol { width: 220px; }
		.fourcol { width: 300px; }
		.fivecol { width: 380px; }
		.sixcol { width: 460px; }
		.sevencol { width: 540px; }
		.eightcol { width: 620px; }
		.ninecol { width: 700px; }
		.tencol { width: 780px; }
		.elevencol { width: 860px; }
		.twelvecol { width: 940px; }
		
		/* set max width for images, objects and embeds */
		
		img, object, embed { max-width: 100%; }
		
		img { height: auto; }