/* 	=========
	GRIDS.CSS 
	========= */

/* basic clear class for clearing floating elements */

.clear { clear: both; }

/* collumns */

.onecol, 
.twocol, 
.threecol, 
.fourcol, 
.fivecol, 
.sixcol, 
.sevencol, 
.eightcol, 
.ninecol, 
.tencol, 
.elevencol,
.twelvecol {
	float: left;
	margin: 10px; }

/* outer container, full width */
	
.container {
	display: block;
	clear: both;
	float: left;
	height: auto;
	min-width: 100%; }
	
	/* inner container, center aligned */

	.container .container-inner {
		margin: 0 auto;
		padding: 0 10px;
		width: 960px; }

/* 	---------
	GRID: 960
	--------- */

/* collumn specific widths */

.g960 .onecol { width: 60px; }
.g960 .twocol { width: 140px; }
.g960 .threecol { width: 220px; }
.g960 .fourcol { width: 300px; }
.g960 .fivecol { width: 380px; }
.g960 .sixcol { width: 460px; }
.g960 .sevencol { width: 540px; }
.g960 .eightcol { width: 620px; }
.g960 .ninecol { width: 700px; }
.g960 .tencol { width: 780px; }
.g960 .elevencol { width: 860px; }
.g960 .twelvecol { width: 940px; }

/* set max width for images, objects and embeds */

.g960 img, 
.g960 object, 
.g960 embed { max-width: 100%; }

.g960 img { height: auto; }		

/* 	----------
	GRID: 1140
	---------- */

	
/* inner container, center aligned */

.g1140 .container .container-inner {
	width: auto;
	max-width: 1140px;
	padding: 0 10px; }

/* responsive lay-out, collumns */

.g1140 .onecol,
.g1140 .twocol,
.g1140 .threecol,
.g1140 .fourcol,
.g1140 .fivecol,
.g1140 .sixcol,
.g1140 .sevencol,
.g1140 .eightcol,
.g1140 .ninecol,
.g1140 .tencol,
.g1140 .elevencol,
.g1140 .twelvecol {
	float: left;
	margin: 10px 1.5%; }
	
/* collumn specific widths */

.g1140 .onecol { width: 5.33%; }
.g1140 .twocol { width: 13.66%; }
.g1140 .threecol { width: 22%; }
.g1140 .fourcol { width: 30.33%; }
.g1140 .fivecol { width: 38.66%; }
.g1140 .sixcol { width: 47%; }
.g1140 .sevencol { width: 55.33%; }
.g1140 .eightcol { width: 63.66%; }
.g1140 .ninecol { width: 72%; }
.g1140 .tencol { width: 80.33%; }
.g1140 .elevencol { width: 88.66%; }
.g1140 .twelvecol { width: 97%; }

/* set max width for images, objects and embed */

.g1140 img, 
.g1140 object, 
.g1140 embed { 
	max-width: 100%; }

.g1140 img { height: auto; }