/* 	=========
	GRIDS.CSS 
	========= */

/* basic clear class for clearing floating elements */

.clear { clear: both; }

/* collumns */

.onecol, 
.twocol, 
.threecol, 
.fourcol, 
.fivecol, 
.sixcol, 
.sevencol, 
.eightcol, 
.ninecol, 
.tencol, 
.elevencol,
.twelvecol {
	float: left;
	margin: 10px; }

/* outer container, full width */
	
.container {
	display: block;
	clear: both;
	float: left;
	height: auto;
	min-width: 100%; }
	
	/* inner container, center aligned */

	.inner {
		margin: 0 auto;
		width: 960px; }

/* 	---------
	GRID: 960
	--------- */
		
/* inner container, center aligned */

.g960 .inner {
	width: 960px; }

/* collumn specific widths */

.g960 .onecol { width: 60px; }
.g960 .twocol { width: 140px; }
.g960 .threecol { width: 220px; }
.g960 .fourcol { width: 300px; }
.g960 .fivecol { width: 380px; }
.g960 .sixcol { width: 460px; }
.g960 .sevencol { width: 540px; }
.g960 .eightcol { width: 620px; }
.g960 .ninecol { width: 700px; }
.g960 .tencol { width: 780px; }
.g960 .elevencol { width: 860px; }
.g960 .twelvecol { width: 940px; }

/* set max width for images, objects and embeds */

.g960 img, 
.g960 object, 
.g960 embed { max-width: 100%; }

.g960 img { height: auto; }		

/* 	----------
	GRID: 1140
	---------- */
	
/* inner collumn, max width, center aligned */

.g1140 .container .inner {
	width: auto;
	max-width: 1140px; }

/* responsive lay-out, collumns */

.g1140 .onecol, 
.g1140 .twocol, 
.g1140 .threecol, 
.g1140 .fourcol, 
.g1140 .fivecol, 
.g1140 .sixcol, 
.g1140 .sevencol, 
.g1140 .eightcol, 
.g1140 .ninecol, 
.g1140 .tencol, 
.g1140 .elevencol {
	float: left;
	margin: 10px 1.9%; }
	
/* collumn specific widths */

.g1140 .inner .onecol { width: 4.85%; }
.g1140 .inner .twocol { width: 13.45%; }
.g1140 .inner .threecol { width: 22.05%; }
.g1140 .inner .fourcol { width: 30.75%; }
.g1140 .inner .fivecol { width: 39.45%; }
.g1140 .inner .sixcol { width: 48%; }
.g1140 .inner .sevencol { width: 56.75%; }
.g1140 .inner .eightcol { width: 65.4%; }
.g1140 .inner .ninecol { width: 74.05%; }
.g1140 .inner .tencol { width: 82.7%; }
.g1140 .inner .elevencol { width: 91.35%; }
.g1140 .inner .twelvecol { width: 100%; }
		
/* set max width for images, objects and embed */

.g1140 img, 
.g1140 object, 
.g1140 embed { 
	max-width: 100%; }

.g1140 img { height: auto; }	

/* MEDIA QUERIES */
    
@media (max-width: 480px) {

.g1140 .container .inner { 
	margin-left: 0;
	margin-right: 0;
	min-width: 0;
	padding-left: 0;
	padding-right: 0;
	width: 100%; }

.g1140 .inner .onecol, 
.g1140 .inner .twocol, 
.g1140 .inner .threecol, 
.g1140 .inner .fourcol, 
.g1140 .inner .fivecol, 
.g1140 .inner .sixcol, 
.g1140 .inner .sevencol, 
.g1140 .inner .eightcol, 
.g1140 .inner .ninecol, 
.g1140 .inner .tencol, 
.g1140 .inner .elevencol, 
.g1140 .inner .twelvecol {
	float: none;
	margin-left: 0;
	margin-right: 0;
	padding: 20px;
	padding-right: 20px; 
	width: auto; }
	
}