/* 	========
	MISC.CSS 
	======== */

.mute { opacity: 0.5; }

.remove { display: none; }

.clear { clear: both; }

.hide { 
	display: inline-block;
	visibility: hidden; }
	
.border { border: 1px solid red; }

/* 	-----------
	INTERACTION 
	-----------  */

/* suckerfish horizontal */

.sf-menu, .sf-menu * {
	list-style: none; 
	margin: 0;
	padding: 0; }
	
.sf-menu { line-height:	1.0; }

	.sf-menu ul {
		position: absolute;
		top: -999em;
		width: 10em; }
		
		.sf-menu ul li { width: 100%; }

		.sf-menu li:hover { visibility: inherit; }

		.sf-menu li {
			float: left;
			position: relative; }
			
			.sf-menu a {
				display: block;
				position: relative; }

			.sf-menu li:hover ul,
			.sf-menu li.sfHover ul {
				left: 0;
				top: 40px;
				z-index: 99; }

			ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul { top: -999em; }

			ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
				left: 10em;
				top: 0; }

			ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul { top: -999em; }

			ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
				left: 10em;
				top: 0; }

			/* skin */
			
			.sf-menu { float: left; }

				.sf-menu a {
					border: none;
					text-decoration: none; }

					.sf-menu li { background: none; }
					
						.sf-menu li li { background: none; }
						
							.sf-menu li li li { background: none; }
							
								.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
									background: none;
									outline: 0; }
	
				/* arrows */
				
				.sf-sub-indicator { display: none; }

/*	GLOBAL: PAGINATION
	------------------ */
				
nav#pagination {
	clear: both;
	float: left;
	font-size: 14px; 
	height: auto;
	margin: 0 0 25px 0;
	width: 100%; }
	
	nav#pagination span.pagination-title { display: none; }
	
	nav#pagination ul { 
		width: auto; 
		text-align: center;
		margin: 0; }
				
		nav#pagination ul li { 
			display: inline-block;
			list-style-type: none; }
		
			nav#pagination ul li a { text-decoration: none; }
			
			nav#pagination ul li a.pagination-page,
			nav#pagination ul li span.pagination-current { 
				border: 1px solid #CCC;
				position: relative;
				margin: 0 3px;
				padding: 2px 6px; }
			
			nav#pagination ul li a.pagination-prev { 
				border: none;
				margin: 0 5px 0 0; }
			
			nav#pagination ul li a.pagination-next { 
				border: none;
				margin: 0 0 0 5px; }
			
			nav#pagination .pagination-gap {
			    margin: 0 3px;
			    position: relative; }

			/* 	Previous and next post links */
			
			nav#pagination .previous-post {
				float: left;
				margin: 0 10px 0 0; }
				
			nav#pagination .next-post {
				float: right;
				margin: 0 0 0 10px; }	
	
/* 	---------
	WORDPRESS 
	--------- */
	
/* 	GLOBAL: IMAGES
	-------------- */

.entry-content img { margin: 0 0 25px 0; }

.alignleft, img.alignleft {
	display: inline;
	float: left; 
	margin-right: 20px; }
	
.alignright, img.alignright {
	display: inline;
	float: right;
	margin-left: 20px; }
	
.aligncenter, img.aligncenter {
	clear: both;
	display: block;
	margin: 0px auto; }
	
.alignnone, img.alignnone {}

.wp-caption {
	margin-bottom: 10px;
	padding-top: 5px;
	text-align: center; }
	
.wp-caption img {
	border: 0 none;
	margin: 0;
	padding: 0; }
	
.wp-caption p.wp-caption-text { margin: 0; }
	
.wp-smiley {
	margin: 0 !important;
	max-height: 1em; }
	
/*	GLOBAL: GALLERY
	--------------- */

.gallery { 
	margin-bottom: 25px;
	width: auto;
	padding: 9px;
	border: 1px solid #CCCCCC;
	overflow: auto; }

	.gallery dl {
		display: block;
		float: left;
		margin: 10px;
		height: auto;
		width: auto; }
		
		.ie7 .gallery dt { margin-bottom: 25px; }
	
		.gallery dt {
			height: 128px;
			width: 128px; }
		
			.gallery dt img {
				float: left;
				height: auto; 
				width: auto; }
		
		.gallery dd { display: none; }
		.gallery br { display: none; }

/* 	GLOBAL: BLOCKQUOTES
	------------------- */
	
blockquote.left {
	float: left;
	margin-right: 20px;
	margin-left: 0;
	text-align: right;
	width: 33%; }
	
blockquote.right {
	float: right;
	margin-left: 20px;
	margin-right: 0;
	text-align: left;
	width: 33%; }

/*	GLOBAL: WIDGETS
	--------------- */

table#wp-calendar, .widget_archive li { text-transform: capitalize; }

/* calendar */

	table#wp-calendar {
		border-right: none;
		border-bottom: none; 
		border-left: none; }
	
		table#wp-calendar tr th, table#wp-calendar tr td { 
			text-align: center;
			vertical-align: center; }
					
			table#wp-calendar thead tr th:first-child, table#wp-calendar tbody tr td:first-child { border-left: 1px solid #000000; }
			
			table#wp-calendar tfoot, table#wp-calendar tfoot tr, table#wp-calendar tfoot tr td { border: none !important; }
			
			table#wp-calendar tfoot td#prev { text-align: left; }
			table#wp-calendar tfoot td#next { text-align: right; }
		
/* rss */

.widget_rss ul li { padding: 10px 5px 15px 5px !important; }

	div.widget_rss ul li a.rsswidget { 
		display: block; 
		font-weight: bold;
		font-size: 16px;
		line-height: 25px;
		margin: 0 0 0 0; }
		
		div.widget_rss h3 img { display: none; }

	div.widget_rss ul li span.rss-date { 
		font-size: 12px; 
		margin: 0 0 10px 0;
	}
	div.widget_rss ul li span.rss-date, div.widget_rss ul li cite { display: block; }
	
/* social media widget */

	.social-media-widget li a { padding-left: 30px; }
	
		.social-media-widget li.twitter a { background: url('../img/social/twitter_16.png') no-repeat center left; }	
		.social-media-widget li.facebook a { background: url('../img/social/facebook_16.png') no-repeat center left; }
		.social-media-widget li.linkedin a { background: url('../img/social/linkedin_16.png') no-repeat center left; }
		.social-media-widget li.googleplus a { background: url('../img/social/google-plus-icon.png') no-repeat center left; }
		.social-media-widget li.youtube a { background: url('../img/social/youtube_16.png') no-repeat center left; }
		.social-media-widget li.email a { background: url('../img/social/email_16.png') no-repeat center left; }
		.social-media-widget li.rss a { background: url('../img/social/rss_16.png') no-repeat center left; }
			
/* widget contact-widget */

.contact-widget span { 
	display: inline-block;
	font-weight: bold;
	width: 35%;
	min-width: 75px; }
	
	.contact-widget ul {
		clear: both;
		display: block;
		float: left;
		height: auto;
		width: 100%; }
		
		.contact-widget ul.other { padding-bottom: 0 !important; }
		
		.contact-widget li { clear: both; }