$light-yellow: hsl(47, 100%, 85%);
$red: hsl(0, 58%, 52%);
$blue: hsl(213, 76%, 47%);

$black: black;
$dark-gray: hsl(0, 0%, 20%);
$medium-gray: hsl(0, 0%, 40%);
$gray: hsl(0, 0%, 60%);
$light-gray: hsl(0, 0%, 90%);
$white: white;

$light-background: $light-gray;
$border-color: $light-gray;
$body-background: $white;

$primary-color: $dark-gray;
$secondary-color: $gray;

$heading-color: $dark-gray;
$link-color: $blue;
$text-color: $medium-gray;
$text-light: $gray;

$code-color: $light-yellow;
