/**
 * Color definitions
 */
$red: rgb(204, 0, 0);
$light-yellow: rgb(255, 244, 191);

$black: black;
$extra-dark-grey: rgb(51, 51, 51);
$dark-grey: rgb(102, 102, 102);
$medium-grey: rgb(153, 153, 153);
$light-grey: rgb(204, 204, 204);
$extra-light-grey: rgb(238, 238, 238);
$white: white;

/**
 * Color variables
 */
$primary-color: $extra-dark-grey;
$secondary-color: $medium-grey;

$heading-color: $extra-dark-grey;
$text-color: $dark-grey;
$text-light: $medium-grey;
$link-color: $extra-dark-grey;

$light-background: $extra-light-grey;
$border-color: $light-grey;

$code-color: $light-yellow;
