@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600');

$heading-font: (
  'Source Sans Pro',
  sans-serif,
);

$text-font: (
  'Source Sans Pro',
  sans-serif,
);

$line-height: 2;
$line-height-header: 50px;

$font-sizes: (
  'base': (
    'small': 18px,
    'medium': 20px,
  ),
  'h1': (
    'small': 32px,
    'medium': 40px,
  ),
  'h2': (
    'small': 24px,
    'medium': 28px,
  ),
  'h3': (
    'small': 20px,
    'medium': 24px,
  ),
  'blockquote': (
    'small': 28px,
    'medium': 32px,
  )
);
