@charset "UTF-8";
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * @section Helpers
 *
 * Defines helpers
 *
 * @package     WordPress
 * @subpackage  TrendPress
 * @author      Trendwerk
 * @license     GPL v2
 */
/**
 * @section     Helpers
 * @subsection  Classes
 */
.clear {
  clear: both; }

.hide {
  display: none; }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

/**
 *
 * @section Base
 *
 * Defines the styling for base elements
 *
 * @package     WordPress
 * @subpackage  TrendPress
 * @author      Trendwerk
 * @license     GPL v2
 */
/**
 * @section     Base
 * @subsection  Render settings
 */
html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none; }

/**
 * @section     Base
 * @subsection  Content
 */
body {
  color: #666666;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 30px; }

/**
 * @section     Base
 * @subsection  Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 700;
  line-height: 1.325em;
  margin: 0 0 30px; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: #333333;
    text-decoration: none; }
  h1 a:hover,
  h2 a:hover,
  h3 a:hover,
  h4 a:hover,
  h5 a:hover,
  h6 a:hover {
    color: #1d6fd3;
    text-decoration: none; }

h1 {
  font-size: 28px; }
  @media screen and (min-width: 641px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-size: 20px; }
  @media screen and (min-width: 641px) {
    h2 {
      font-size: 28px; } }

h3 {
  font-size: 18px; }
  @media screen and (min-width: 641px) {
    h3 {
      font-size: 22px; } }

h4 {
  font-size: 16px; }
  @media screen and (min-width: 641px) {
    h4 {
      font-size: 18px; } }

h5 {
  font-size: 14px; }
  @media screen and (min-width: 641px) {
    h5 {
      font-size: 16px; } }

h6 {
  font-size: 12px; }
  @media screen and (min-width: 641px) {
    h6 {
      font-size: 14px; } }

/**
 * @section     Base
 * @subsection  Hyperlinks
 */
a {
  color: #1d6fd3;
  outline: 0;
  text-decoration: underline;
  /* More link */
  /* Add characters :before and :after link */ }
  a:hover {
    color: #1759a9;
    text-decoration: underline; }
  a.read-more {
    white-space: nowrap; }
  a.read-more:after,
  a.prev:before,
  a.next:after {
    display: inline-block; }
  a.prev:before {
    content: '«';
    padding-right: 4px; }
  a.read-more:after,
  a.next:after {
    content: '»';
    padding-left: 4px; }

/**
 * @section     Base
 * @subsection  Paragraphs
 */
p {
  margin: 0 0 30px; }

/**
 * @section     Base
 * @subsection  Strong and italic
 */
strong,
b {
  font-weight: bold; }

em,
i {
  font-style: italic; }

/**
 * @section     Base
 * @subsection  Lists
 */
ul,
ol {
  list-style-position: outside;
  margin: 0 0 30px 20px; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin: 0 0 0 20px; }

/**
 * @section     Base
 * @subsection  Blockquotes and cites
 */
blockquote {
  color: #999999;
  display: inline-block;
  font-style: italic;
  margin: 0 0 30px;
  text-align: center;
  width: 100%; }
  blockquote p {
    display: inline; }
  blockquote cite {
    display: block;
    margin-top: 10px; }

cite {
  color: #666666;
  display: block;
  font-style: normal;
  font-weight: bold;
  margin: 5px 0 10px; }
  cite a {
    color: #666666; }

/**
 * @section     Base
 * @subsection  Code and pre
 */
code,
pre {
  background-color: #ffeeb3;
  color: #666666; }

pre {
  margin-bottom: 20px;
  padding: 20px;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap; }

/**
 * @section     Base
 * @subsection  Deleted and inserted
 */
del {
  color: #999999;
  text-decoration: line-through; }

ins {
  color: #333333;
  text-decoration: underline; }

/**
 *
 * @section Base
 *
 * Defines the styling for base elements
 *
 * @package     WordPress
 * @subpackage  TrendPress
 * @author      Trendwerk
 * @license     GPL v2
 */
/**
  * @section     Base
  * @subsection  Tables
  */
table {
  border: 1px solid #cccccc;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 30px;
  width: 100%; }
  table tr {
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc; }
    table tr td,
    table tr th {
      border-right: 1px solid #cccccc;
      padding: 5px 10px;
      text-align: left; }
    table tr th {
      font-weight: bold; }
  table thead tr {
    background-color: #ededed; }

/**
 *
 * @section Base
 *
 * Defines the styling for base elements
 *
 * @package     WordPress
 * @subpackage  TrendPress
 * @author      Trendwerk
 * @license     GPL v2
 */
/**
  * @section     Base
  * @subsection  Forms
  */
[type="datetime-local"],
[type="datetime"],
[type="password"],
[type="number"],
[type="search"],
[type="month"],
[type="email"],
[type="date"],
[type="text"],
[type="time"],
[type="week"],
[type="tel"],
[type="url"],
textarea,
select {
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 3px;
  box-sizing: border-box;
  color: #666666;
  display: block;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  height: 40px;
  line-height: 25px;
  margin: 0;
  outline: none;
  padding: 0 12px;
  width: 100%; }
  [type="datetime-local"]::-webkit-input-placeholder,
  [type="datetime"]::-webkit-input-placeholder,
  [type="password"]::-webkit-input-placeholder,
  [type="number"]::-webkit-input-placeholder,
  [type="search"]::-webkit-input-placeholder,
  [type="month"]::-webkit-input-placeholder,
  [type="email"]::-webkit-input-placeholder,
  [type="date"]::-webkit-input-placeholder,
  [type="text"]::-webkit-input-placeholder,
  [type="time"]::-webkit-input-placeholder,
  [type="week"]::-webkit-input-placeholder,
  [type="tel"]::-webkit-input-placeholder,
  [type="url"]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder,
  select::-webkit-input-placeholder {
    color: #666666; }
  [type="datetime-local"]::-moz-placeholder,
  [type="datetime"]::-moz-placeholder,
  [type="password"]::-moz-placeholder,
  [type="number"]::-moz-placeholder,
  [type="search"]::-moz-placeholder,
  [type="month"]::-moz-placeholder,
  [type="email"]::-moz-placeholder,
  [type="date"]::-moz-placeholder,
  [type="text"]::-moz-placeholder,
  [type="time"]::-moz-placeholder,
  [type="week"]::-moz-placeholder,
  [type="tel"]::-moz-placeholder,
  [type="url"]::-moz-placeholder,
  textarea::-moz-placeholder,
  select::-moz-placeholder {
    color: #666666; }
  [type="datetime-local"]:-ms-input-placeholder,
  [type="datetime"]:-ms-input-placeholder,
  [type="password"]:-ms-input-placeholder,
  [type="number"]:-ms-input-placeholder,
  [type="search"]:-ms-input-placeholder,
  [type="month"]:-ms-input-placeholder,
  [type="email"]:-ms-input-placeholder,
  [type="date"]:-ms-input-placeholder,
  [type="text"]:-ms-input-placeholder,
  [type="time"]:-ms-input-placeholder,
  [type="week"]:-ms-input-placeholder,
  [type="tel"]:-ms-input-placeholder,
  [type="url"]:-ms-input-placeholder,
  textarea:-ms-input-placeholder,
  select:-ms-input-placeholder {
    color: #666666; }
  [type="datetime-local"]::placeholder,
  [type="datetime"]::placeholder,
  [type="password"]::placeholder,
  [type="number"]::placeholder,
  [type="search"]::placeholder,
  [type="month"]::placeholder,
  [type="email"]::placeholder,
  [type="date"]::placeholder,
  [type="text"]::placeholder,
  [type="time"]::placeholder,
  [type="week"]::placeholder,
  [type="tel"]::placeholder,
  [type="url"]::placeholder,
  textarea::placeholder,
  select::placeholder {
    color: #666666; }
  [type="datetime-local"]:focus::-webkit-input-placeholder,
  [type="datetime"]:focus::-webkit-input-placeholder,
  [type="password"]:focus::-webkit-input-placeholder,
  [type="number"]:focus::-webkit-input-placeholder,
  [type="search"]:focus::-webkit-input-placeholder,
  [type="month"]:focus::-webkit-input-placeholder,
  [type="email"]:focus::-webkit-input-placeholder,
  [type="date"]:focus::-webkit-input-placeholder,
  [type="text"]:focus::-webkit-input-placeholder,
  [type="time"]:focus::-webkit-input-placeholder,
  [type="week"]:focus::-webkit-input-placeholder,
  [type="tel"]:focus::-webkit-input-placeholder,
  [type="url"]:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder,
  select:focus::-webkit-input-placeholder {
    color: #999999; }
  [type="datetime-local"]:focus::-moz-placeholder,
  [type="datetime"]:focus::-moz-placeholder,
  [type="password"]:focus::-moz-placeholder,
  [type="number"]:focus::-moz-placeholder,
  [type="search"]:focus::-moz-placeholder,
  [type="month"]:focus::-moz-placeholder,
  [type="email"]:focus::-moz-placeholder,
  [type="date"]:focus::-moz-placeholder,
  [type="text"]:focus::-moz-placeholder,
  [type="time"]:focus::-moz-placeholder,
  [type="week"]:focus::-moz-placeholder,
  [type="tel"]:focus::-moz-placeholder,
  [type="url"]:focus::-moz-placeholder,
  textarea:focus::-moz-placeholder,
  select:focus::-moz-placeholder {
    color: #999999; }
  [type="datetime-local"]:focus:-ms-input-placeholder,
  [type="datetime"]:focus:-ms-input-placeholder,
  [type="password"]:focus:-ms-input-placeholder,
  [type="number"]:focus:-ms-input-placeholder,
  [type="search"]:focus:-ms-input-placeholder,
  [type="month"]:focus:-ms-input-placeholder,
  [type="email"]:focus:-ms-input-placeholder,
  [type="date"]:focus:-ms-input-placeholder,
  [type="text"]:focus:-ms-input-placeholder,
  [type="time"]:focus:-ms-input-placeholder,
  [type="week"]:focus:-ms-input-placeholder,
  [type="tel"]:focus:-ms-input-placeholder,
  [type="url"]:focus:-ms-input-placeholder,
  textarea:focus:-ms-input-placeholder,
  select:focus:-ms-input-placeholder {
    color: #999999; }
  [type="datetime-local"]:focus::placeholder,
  [type="datetime"]:focus::placeholder,
  [type="password"]:focus::placeholder,
  [type="number"]:focus::placeholder,
  [type="search"]:focus::placeholder,
  [type="month"]:focus::placeholder,
  [type="email"]:focus::placeholder,
  [type="date"]:focus::placeholder,
  [type="text"]:focus::placeholder,
  [type="time"]:focus::placeholder,
  [type="week"]:focus::placeholder,
  [type="tel"]:focus::placeholder,
  [type="url"]:focus::placeholder,
  textarea:focus::placeholder,
  select:focus::placeholder {
    color: #999999; }
  @media (min-width: 641px) {
    [type="datetime-local"],
    [type="datetime"],
    [type="password"],
    [type="number"],
    [type="search"],
    [type="month"],
    [type="email"],
    [type="date"],
    [type="text"],
    [type="time"],
    [type="week"],
    [type="tel"],
    [type="url"],
    textarea,
    select {
      font-size: 14px;
      width: 50%; } }
  [type="datetime-local"]:focus,
  [type="datetime"]:focus,
  [type="password"]:focus,
  [type="number"]:focus,
  [type="search"]:focus,
  [type="month"]:focus,
  [type="email"]:focus,
  [type="date"]:focus,
  [type="text"]:focus,
  [type="time"]:focus,
  [type="week"]:focus,
  [type="tel"]:focus,
  [type="url"]:focus,
  textarea:focus,
  select:focus {
    border: 1px solid #a3a3a3; }

textarea {
  box-sizing: border-box;
  display: block;
  height: 200px;
  margin: 0;
  padding: 8px 12px;
  width: 100%; }
  @media (min-width: 641px) {
    textarea {
      width: 75%; } }

[type="submit"],
[type="button"],
button {
  border-radius: 3px;
  background-color: #333333;
  border: 0;
  color: white;
  display: inline-block;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  margin: 0 10px 10px 0;
  outline: 0;
  padding: 0 35px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-appearance: none; }
  [type="submit"]:active,
  [type="submit"]:focus,
  [type="submit"]:hover,
  [type="button"]:active,
  [type="button"]:focus,
  [type="button"]:hover,
  button:active,
  button:focus,
  button:hover {
    background-color: #2b2b2b;
    color: white;
    outline: none;
    text-decoration: none; }
  @media (min-width: 641px) {
    [type="submit"],
    [type="button"],
    button {
      margin-left: 25%; } }

label {
  float: left;
  margin-bottom: 15px;
  width: 100%; }
  @media (min-width: 641px) {
    label {
      margin-bottom: 0;
      width: 25%; } }

select {
  background-image: url("data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==");
  background-position: 95% center;
  background-repeat: no-repeat; }

/**
 * @section Layout
 *
 * Defines the default layout
 *
 * @package     WordPress
 * @subpackage  TrendPress
 * @author      Trendwerk
 * @license     GPL v2
 */
/**
 * @section     Layout
 * @subsection  Wrapper
 */
.wrapper {
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%; }
  @media (min-width: 641px) {
    .wrapper {
      padding: 0 40px; } }
  @media (min-width: 981px) {
    .wrapper {
      margin: 0 auto;
      width: 980px; } }
  @media (min-width: 1161px) {
    .wrapper {
      width: 1160px; } }

@media (min-width: 821px) {
  main .wrapper {
    width: 780px; } }

/**
 * @section Layout
 *
 * Defines the default layout
 *
 * @package     WordPress
 * @subpackage  TrendPress
 * @author      Trendwerk
 * @license     GPL v2
 */
/**
 * @section     Layout
 * @subsection  Footer
 */
footer {
  clear: both;
  float: left;
  width: 100%;
  background-color: #333333;
  color: white;
  margin-bottom: 0; }
  footer a {
    color: white; }
    footer a:active,
    footer a:focus,
    footer a:hover {
      color: #999999; }
  footer .credits {
    float: left;
    margin: 30px 0;
    width: 100%; }
    footer .credits p {
      margin: 0; }
    footer .credits .copyright {
      text-align: center;
      width: 100%; }
      @media (min-width: 641px) {
        footer .credits .copyright {
          float: left;
          width: auto; } }
    footer .credits nav {
      text-align: center;
      width: 100%; }
      @media (min-width: 641px) {
        footer .credits nav {
          float: right;
          width: auto; } }
    footer .credits ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    footer .credits li {
      display: inline; }
    footer .credits li:after {
      color: white;
      content: '|';
      padding: 0 5px 0 10px; }
    footer .credits li:last-child:after {
      display: none; }

/**
 * @section Layout
 *
 * Defines the default layout
 *
 * @package     WordPress
 * @subpackage  TrendPress
 * @author      Trendwerk
 * @license     GPL v2
 */
/**
 * @section     Layout
 * @subsection  Header
 */
header {
  clear: both;
  float: left;
  width: 100%;
  background-color: #333333;
  box-sizing: border-box;
  padding: 20px 0;
  text-align: center;
  z-index: 1; }
  @media (min-width: 981px) {
    header {
      background-color: white; } }
  header a {
    color: white;
    text-decoration: none; }
    @media (min-width: 981px) {
      header a {
        color: #333333; } }
  header .logo {
    display: inline-block;
    margin-top: 5px; }
    @media (min-width: 981px) {
      header .logo {
        display: block;
        float: left;
        margin-top: 0;
        text-align: left; } }
    header .logo .sitename {
      font-size: 28px;
      font-family: "Helvetica Neue", sans-serif;
      font-weight: 700;
      margin: 0; }
    header .logo .sitedescription {
      color: #666666;
      display: none;
      margin: 0; }
      @media (min-width: 981px) {
        header .logo .sitedescription {
          display: block; } }
  header .mobile-navigation,
  header .mobile-search {
    cursor: pointer;
    padding: 10px;
    float: left; }
    @media (min-width: 981px) {
      header .mobile-navigation,
      header .mobile-search {
        display: none; } }
  header .mobile-navigation {
    float: right;
    margin-right: -10px; }
  header .mobile-search {
    height: 19px;
    margin-left: -10px;
    width: 20px; }
  header .search-top {
    display: none;
    float: right;
    margin-top: 20px;
    width: 100%; }
    @media (min-width: 421px) {
      header .search-top {
        margin-top: 10px; } }
    @media (min-width: 981px) {
      header .search-top {
        display: block;
        width: auto; } }

/**
 * @section Images
 *
 * Defines the default styling of images
 *
 * @package     WordPress
 * @subpackage  TrendPress
 * @author      Trendwerk
 * @license     GPL v2
 */
/**
 * @section     Layout
 * @subsection  Alignment types
 */
.alignleft {
  float: left;
  margin: 10px 20px; }

.alignright {
  float: right;
  margin: 10px 0 10px 20px; }

.aligncenter {
  display: block;
  margin: 0 auto; }

/**
 * @section     Layout
 * @subsection  Captions
 */
.wp-caption {
  background-color: #ededed;
  margin-bottom: 30px;
  max-width: 100%;
  text-align: center; }
  .wp-caption img {
    box-sizing: border-box;
    padding: 5px; }
  .wp-caption .wp-caption-text {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    margin: 0 10px 10px; }

/**
 * @section     Layout
 * @subsection  Set max width for $content_width (http://codex.wordpress.org/Content_Width)
 */
.aligncenter img,
.alignright img,
.alignleft img,
.alignnone img {
  max-width: 100%;
  height: auto; }

.size-thumbnail,
.size-medium,
.size-large,
.size-auto,
.alignnone,
.size-full {
  max-width: 100%;
  height: auto; }

/**
 * @section Layout
 *
 * Defines the default layout
 *
 * @package     WordPress
 * @subpackage  TrendPress
 * @author      Trendwerk
 * @license     GPL v2
 */
/**
 * @section     Layout
 * @subsection  Core
 */
body {
  background-color: white; }

main {
  clear: both;
  float: left;
  width: 100%;
  padding: 60px 0 30px; }
  @media (min-width: 641px) {
    main {
      background-color: white; } }

/**
 * @section Layout
 *
 * Defines the default layout
 *
 * @package     WordPress
 * @subpackage  TrendPress
 * @author      Trendwerk
 * @license     GPL v2
 */
/**
 * @section     Layout
 * @subsection  Main navigation
 */
.main-navigation {
  clear: both;
  float: left;
  width: 100%;
  background-color: #333333;
  display: none;
  margin: 0;
  padding: 0 0 20px;
  /* Desktop navigation */ }
  @media (min-width: 981px) {
    .main-navigation {
      display: block;
      padding-bottom: 0;
      /* Top level */
      /* Add arrow list items with children */
      /* Drop-down */ }
      .main-navigation li {
        float: left; }
      .main-navigation li:hover {
        background-color: black;
        /* Display drop-down on hover */ }
        .main-navigation li:hover .children,
        .main-navigation li:hover .sub-menu {
          display: block; }
      .main-navigation a {
        display: block;
        padding: 10px 15px; }
        .main-navigation a:hover {
          text-decoration: none; }
      .main-navigation .menu-item-has-children > a::after {
        border-color: white transparent transparent;
        border-style: solid;
        border-width: 4px 4px 0;
        content: '';
        display: inline-block;
        height: 0;
        margin: 0 0 3px 5px;
        width: 0; }
      .main-navigation .current-menu-item {
        background-color: black; }
      .main-navigation .children,
      .main-navigation .sub-menu {
        background-color: black;
        display: none;
        padding: 10px 0;
        position: absolute;
        width: 260px;
        /* Hide arrow list items with children */ }
        .main-navigation .children li,
        .main-navigation .sub-menu li {
          clear: both;
          width: 100%; }
        .main-navigation .children a,
        .main-navigation .sub-menu a {
          padding: 5px 15px; }
        .main-navigation .children a:after,
        .main-navigation .sub-menu a:after {
          display: none; } }
  .main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .main-navigation li {
    font-weight: 700;
    position: relative; }
  .main-navigation li li {
    font-weight: 400; }
  .main-navigation ul ul {
    padding: 5px 10px; }
  .main-navigation a {
    color: white;
    text-decoration: none; }
    .main-navigation a:hover {
      text-decoration: underline; }

/**
 *
 * @section Components
 *
 * Defines the styling for components
 *
 * @package     WordPress
 * @subpackage  TrendPress
 * @author      Trendwerk
 * @license     GPL v2
 */
/**
 * @section     Components
 * @subsection  Button
 */
.button {
  border-radius: 3px;
  background-color: #333333;
  border: 0;
  color: white;
  display: inline-block;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  margin: 0 10px 10px 0;
  outline: 0;
  padding: 0 35px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase; }
  .button:active,
  .button:focus,
  .button:hover {
    background-color: #2b2b2b;
    color: white;
    outline: none;
    text-decoration: none; }
  .button.secondary {
    border-radius: 3px;
    background-color: #333333;
    border: 0;
    color: white;
    display: inline-block;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    margin: 0 10px 10px 0;
    outline: 0;
    padding: 0 35px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #999999; }
    .button.secondary:active,
    .button.secondary:focus,
    .button.secondary:hover {
      background-color: #2b2b2b;
      color: white;
      outline: none;
      text-decoration: none; }
    .button.secondary:active,
    .button.secondary:focus,
    .button.secondary:hover {
      background-color: #828282;
      color: white;
      outline: none;
      text-decoration: none; }

/**
 *
 * @section Components
 *
 * Defines the styling for components
 *
 * @package     WordPress
 * @subpackage  TrendPress
 * @author      Trendwerk
 * @license     GPL v2
 */
/**
 * @section     Components
 * @subsection  Comments
 */
.comments ol,
.comments ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.comments {
  clear: both;
  float: left;
  width: 100%;
  margin: 30px 0; }
  .comments .children {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-bottom: 15px; }
    @media (min-width: 641px) {
      .comments .children {
        padding-left: 30px; } }
  .comments .comment-body {
    background-color: #ededed;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 20px;
    clear: both;
    float: left;
    width: 100%; }
    @media (min-width: 641px) {
      .comments .comment-body {
        padding: 30px; } }
    @media (min-width: 641px) {
      .comments .comment-body {
        padding-left: 120px; } }
  .comments .comment-meta {
    position: relative;
    width: 100%; }
  .comments .avatar {
    border-radius: 3px;
    display: block;
    margin-bottom: 10px; }
    @media (min-width: 641px) {
      .comments .avatar {
        left: -90px;
        position: absolute; } }
  .comments .comment-author,
  .comments .comment-metadata {
    float: left;
    width: 100%; }
  .comments .comment-content {
    padding: 15px 0; }
    .comments .comment-content p:last-of-type {
      margin-bottom: 0; }
  .comments .comment-content,
  .comments .reply {
    clear: both;
    float: left;
    width: 100%; }

/**
 * @section     Components
 * @subsection  Respond
 */
.comment-respond {
  clear: both;
  float: left;
  width: 100%;
  margin: 30px 0;
  position: relative; }
  .comment-respond p {
    margin-bottom: 15px; }
    @media (min-width: 641px) {
      .comment-respond p {
        margin-bottom: 30px; } }
    .comment-respond p.form-submit {
      margin-bottom: 0; }
  .comment-respond p:last-of-type {
    margin-bottom: 0; }
  .comment-respond small a {
    border-radius: 3px;
    background-color: #333333;
    border: 0;
    color: white;
    display: inline-block;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    margin: 0 10px 10px 0;
    outline: 0;
    padding: 0 35px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ededed;
    color: #666666;
    font-weight: normal;
    height: 25px;
    line-height: 25px;
    margin: 0 0 5px 5px;
    padding: 0 10px; }
    .comment-respond small a:active,
    .comment-respond small a:focus,
    .comment-respond small a:hover {
      background-color: #2b2b2b;
      color: white;
      outline: none;
      text-decoration: none; }
    .comment-respond small a:active,
    .comment-respond small a:focus,
    .comment-respond small a:hover {
      background-color: #333333;
      color: white;
      outline: none;
      text-decoration: none; }
  .comment-respond .submit {
    margin-top: 10px; }

/**
 *
 * @section Components
 *
 * Defines the styling for components
 *
 * @package     WordPress
 * @subpackage  TrendPress
 * @author      Trendwerk
 * @license     GPL v2
 */
/**
 * @section     Components
 * @subsection  Entry
 */
.hentry {
  clear: both;
  float: left;
  width: 100%;
  margin: 0 0 30px;
  padding: 0 0 30px; }
  .hentry.sticky {
    background-color: #ededed;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 20px;
    margin-bottom: 60px; }
    @media (min-width: 641px) {
      .hentry.sticky {
        padding: 30px; } }
  .hentry h2 {
    margin-bottom: 15px; }
  .hentry .featured {
    float: right;
    margin: 0 0 30px 20px; }
  .hentry p:last-of-type {
    margin-bottom: 0; }

/**
 *
 * @section Components
 *
 * Defines the styling for components
 *
 * @package     WordPress
 * @subpackage  TrendPress
 * @author      Trendwerk
 * @license     GPL v2
 */
/**
  * @section     Components
  * @subsection  Search form
  */
.search-form form {
  position: relative;
  width: 100%; }
  @media (min-width: 641px) {
    .search-form form {
      width: 265px; } }
  .search-form form .search-form-input {
    box-sizing: border-box;
    color: #666666;
    font-size: 16px;
    font-style: italic;
    margin: 0;
    padding: 12px 45px 12px 12px;
    right: 0;
    width: 100%; }
    .search-form form .search-form-input::-webkit-input-placeholder {
      color: #999999; }
    .search-form form .search-form-input::-moz-placeholder {
      color: #999999; }
    .search-form form .search-form-input:-ms-input-placeholder {
      color: #999999; }
    .search-form form .search-form-input::placeholder {
      color: #999999; }
    .search-form form .search-form-input:focus::-webkit-input-placeholder {
      color: #666666; }
    .search-form form .search-form-input:focus::-moz-placeholder {
      color: #666666; }
    .search-form form .search-form-input:focus:-ms-input-placeholder {
      color: #666666; }
    .search-form form .search-form-input:focus::placeholder {
      color: #666666; }
    @media (min-width: 641px) {
      .search-form form .search-form-input {
        font-size: 13px; } }
  .search-form form .search-form-submit {
    background-color: transparent;
    height: 40px;
    margin: 0;
    padding: 0 0 0 15px;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 40px; }
  .search-form form .glass {
    border: 2px solid #999999;
    height: 8px;
    top: -1px;
    width: 8px; }
  .search-form form .glass:after {
    background-color: #999999;
    height: 2px;
    right: -5px;
    top: 9px;
    width: 6px; }

/**
 *
 * @section Components
 *
 * Defines the styling for components
 *
 * @package     WordPress
 * @subpackage  TrendPress
 * @author      Trendwerk
 * @license     GPL v2
 */
/**
 * @section     Components
 * @subsection  Gallery
 */
.gallery {
  clear: both;
  float: left;
  margin-bottom: 30px;
  width: 100%; }
  .gallery .gallery-item {
    float: left;
    margin: 0 4px 4px 0;
    overflow: hidden;
    padding: 0;
    position: relative; }
    .gallery .gallery-item img {
      display: block;
      float: left;
      height: auto;
      width: 100%; }
    .gallery .gallery-item:hover .gallery-caption {
      opacity: 1; }
  .gallery .gallery-caption {
    -webkit-transition: opacity 400ms ease-in-out;
            transition: opacity 400ms ease-in-out;
    background-color: black;
    box-sizing: border-box;
    color: white;
    font-size: 12px;
    line-height: 1.3;
    margin: 0;
    max-height: 50%;
    opacity: 0;
    padding: 2px 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    width: 100%; }
    .gallery .gallery-caption:before {
      box-shadow: 0 -10px 15px black inset;
      content: '';
      height: 100%;
      left: 0;
      min-height: 49px;
      position: absolute;
      top: 0;
      width: 100%; }

.gallery-columns-1 .gallery-item {
  max-width: 100%;
  width: auto; }

.gallery-columns-2 .gallery-item {
  max-width: 48%;
  max-width: calc(50% - 14px);
  width: auto; }

.gallery-columns-3 .gallery-item {
  max-width: 32%;
  max-width: calc(33.3% - 11px);
  width: auto; }

.gallery-columns-4 .gallery-item {
  max-width: 23%;
  max-width: calc(25% - 9px);
  width: auto; }

.gallery-columns-5 .gallery-item {
  max-width: 19%;
  max-width: calc(20% - 8px);
  width: auto; }

.gallery-columns-6 .gallery-item {
  max-width: 15%;
  max-width: calc(16.7% - 7px);
  width: auto; }

.gallery-columns-7 .gallery-item {
  max-width: 13%;
  max-width: calc(14.28% - 7px);
  width: auto; }

.gallery-columns-8 .gallery-item {
  max-width: 11%;
  max-width: calc(12.5% - 6px);
  width: auto; }

.gallery-columns-9 .gallery-item {
  max-width: 9%;
  max-width: calc(11.1% - 6px);
  width: auto; }

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
  margin-right: 0; }

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n - 1),
.gallery-columns-3 .gallery-item:nth-of-type(3n - 2),
.gallery-columns-4 .gallery-item:nth-of-type(4n - 3),
.gallery-columns-5 .gallery-item:nth-of-type(5n - 4),
.gallery-columns-6 .gallery-item:nth-of-type(6n - 5),
.gallery-columns-7 .gallery-item:nth-of-type(7n - 6),
.gallery-columns-8 .gallery-item:nth-of-type(8n - 7),
.gallery-columns-9 .gallery-item:nth-of-type(9n - 8) {
  clear: left;
  margin-left: 0; }

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none; }

/**
 *
 * @section Components
 *
 * Defines the styling for components
 *
 * @package     WordPress
 * @subpackage  TrendPress
 * @author      Trendwerk
 * @license     GPL v2
 */
/**
 * @section     Components
 * @subsection  Burger
 */
.burger {
  height: 19px;
  position: relative;
  width: 24px; }
  .burger .line {
    -webkit-transition: -webkit-transform 0.2s ease-out;
            transition: -webkit-transform 0.2s ease-out;
    background-color: white;
    height: 3px;
    position: absolute;
    width: 24px; }
  .burger .line:nth-child(1) {
    top: 0; }
  .burger .line:nth-child(2) {
    top: 8px; }
  .burger .line:nth-child(3) {
    top: 16px; }
  .burger.active .line:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-5.3px, 5.3px);
        -ms-transform: rotate(-45deg) translate(-5.3px, 5.3px);
            transform: rotate(-45deg) translate(-5.3px, 5.3px); }
  .burger.active .line:nth-child(2) {
    -webkit-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
            transform: scale(0, 1); }
  .burger.active .line:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
        -ms-transform: rotate(45deg) translate(-6px, -6px);
            transform: rotate(45deg) translate(-6px, -6px); }

/**
 * @section     Components
 * @subsection  Glass
 */
.glass {
  border: 3px solid white;
  border-radius: 100%;
  display: block;
  height: 10px;
  position: relative;
  width: 10px; }
  .glass:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: white;
    content: '';
    height: 3px;
    position: absolute;
    right: -7px;
    top: 11px;
    width: 8px; }

/**
 *
 * @section Components
 *
 * Defines the styling for components
 *
 * @package     WordPress
 * @subpackage  TrendPress
 * @author      Trendwerk
 * @license     GPL v2
 */
/**
 * @section     Components
 * @subsection  Meta
 */
.meta {
  color: #999999;
  font-size: 13px;
  margin: 0 0 15px; }
  .meta a {
    color: #666666; }
    .meta a:hover {
      color: #1d6fd3; }

/**
 * @section     Components
 * @subsection  Tags
 */
.tags span {
  padding-right: 15px; }

.tags .tag {
  border-radius: 3px;
  background-color: #333333;
  border: 0;
  color: white;
  display: inline-block;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  margin: 0 10px 10px 0;
  outline: 0;
  padding: 0 35px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ededed;
  color: #666666;
  font-weight: normal;
  height: 25px;
  line-height: 25px;
  margin: 0 0 5px 5px;
  padding: 0 10px; }
  .tags .tag:active,
  .tags .tag:focus,
  .tags .tag:hover {
    background-color: #2b2b2b;
    color: white;
    outline: none;
    text-decoration: none; }
  .tags .tag:active,
  .tags .tag:focus,
  .tags .tag:hover {
    background-color: #333333;
    color: white;
    outline: none;
    text-decoration: none; }

/**
 *
 * @section Components
 *
 * Defines the styling for components
 *
 * @package     WordPress
 * @subpackage  TrendPress
 * @author      Trendwerk
 * @license     GPL v2
 */
/**
 * @section     Components
 * @subsection  Pager
 */
.pager {
  clear: both;
  float: left;
  width: 100%;
  margin: 30px 0;
  text-align: center; }
  .pager .page-numbers,
  .pager .prev,
  .pager .next {
    border-radius: 3px;
    background-color: #333333;
    border: 0;
    color: white;
    display: inline-block;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    margin: 0 10px 10px 0;
    outline: 0;
    padding: 0 35px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ededed;
    color: #666666;
    height: 40px;
    line-height: 40px;
    margin: 0 5px 10px;
    padding: 0 20px;
    text-transform: none; }
    .pager .page-numbers:active,
    .pager .page-numbers:focus,
    .pager .page-numbers:hover,
    .pager .prev:active,
    .pager .prev:focus,
    .pager .prev:hover,
    .pager .next:active,
    .pager .next:focus,
    .pager .next:hover {
      background-color: #2b2b2b;
      color: white;
      outline: none;
      text-decoration: none; }
    .pager .page-numbers.current,
    .pager .page-numbers.dots,
    .pager .prev.current,
    .pager .prev.dots,
    .pager .next.current,
    .pager .next.dots {
      background-color: #fbfbfb; }
      .pager .page-numbers.current:hover,
      .pager .page-numbers.dots:hover,
      .pager .prev.current:hover,
      .pager .prev.dots:hover,
      .pager .next.current:hover,
      .pager .next.dots:hover {
        color: inherit; }

/**
 *
 * @section Components
 *
 * Defines the styling for components
 *
 * @package     WordPress
 * @subpackage  TrendPress
 * @author      Trendwerk
 * @license     GPL v2
 */
/**
 * @section     Components
 * @subsection  Video-container for better responsive videos
 */
.video-container {
  height: 0;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 56.25%;
  position: relative; }
  .video-container iframe,
  .video-container object,
  .video-container embed,
  .video-container video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

/**
 * @section Templates
 *
 * Defines the template specific styling
 *
 * @package     WordPress
 * @subpackage  TrendPress
 * @author      Trendwerk
 * @license     GPL v2
 *
 */
/**
 * @section     Templates
 * @subsection  search.php
 */
.search h2 {
  margin-bottom: 30px; }

.search-no-results .wrapper {
  margin-bottom: 15px; }

/**
 * @section Templates
 *
 * Defines the template specific styling
 *
 * @package     WordPress
 * @subpackage  TrendPress
 * @author      Trendwerk
 * @license     GPL v2
 *
 */
/**
 * @section     Templates
 * @subsection  single.php
 */
.single h1 {
  margin-bottom: 0; }

.single .featured {
  float: right;
  margin: 5px 0 10px 20px; }

/*# sourceMappingURL=main.css.map */