/// @section     Variables
/// @subsection  Defines maps

$breakpoints: (
  'small': 421px,
  'medium': 641px,
  'large': 981px,
  'huge': 1161px,
);

$h1-font-sizes: (
  'default': 28px,
  'medium': 40px,
);

$h2-font-sizes: (
  'default': 20px,
  'medium': 28px,
);

$h3-font-sizes: (
  'default': 18px,
  'medium': 22px,
);

$h4-font-sizes: (
  'default': 16px,
  'medium': 18px,
);

$h5-font-sizes: (
  'default': 14px,
  'medium': 16px,
);

$h6-font-sizes: (
  'default': 12px,
  'medium': 14px,
);
