/**
 * Comments component style
 */

.comments ol,
.comments ul {
  @include remove-list-styles;
}

.comments {
  @include full-width;
  margin: $line-height 0;

  .children {
    @include remove-list-styles;
    box-sizing: border-box;
    padding-bottom: $line-height / 2;

    @include respond-to('medium') {
      padding-left: 30px;
    }
  }

  .comment-body {
    @include block;
    @include full-width;

    @include respond-to('medium') {
      padding-left: 120px;
    }
  }

  .comment-meta {
    position: relative;
    width: 100%;
  }

  .avatar {
    @include border-radius;
    display: block;
    margin-bottom: 10px;

    @include respond-to('medium') {
      left: -90px;
      position: absolute;
    }
  }

  .comment-author,
  .comment-metadata {
    @include full-width;

    @include respond-to('medium') {
      clear: none;
      width: auto;
    }
  }

  time {
    margin-right: 10px;
  }

  .comment-metadata {
    @include respond-to('medium') {
      float: right;
    }
  }

  .comment-content {
    padding: ($line-height / 2) 0;

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .comment-content,
  .reply {
    @include full-width;
  }
}
