/**
 * Stylesheet that defines a global style for featured images
 */

.featured {
  display: block;
  margin-bottom: $line-height;

  @include respond-to('medium') {
    float: right;
    margin: 0 0 $line-height 20px;
  }
}
