.featured-image {
  display: block;
  margin-bottom: $vertical-spacing;

  @media(min-width: 801px) {
    float: right;
    margin: 10px 0 $vertical-spacing ($horizontal-spacing * 2);
  }

  .single & {
    @include respond-to('huge') {
      margin-right: -180px;
    }
  }
}
