/**
 * Gallery
 */

.gallery {
  clear: both;
  float: left;
  margin-bottom: $line-height;
  width: 100%;

  .gallery-item {
    float: left;
    margin: 0 4px 4px 0;
    overflow: hidden;
    padding: 0;
    position: relative;

    img {
      display: block;
      float: left;
      height: auto;
      width: 100%;
    }

    &:hover .gallery-caption {
      opacity: 1;
    }
  }

  .gallery-caption {
    background-color: $black;
    bottom: 0;
    box-sizing: border-box;
    color: $white;
    font-size: 12px;
    left: 0;
    line-height: 1.3;
    margin: 0;
    max-height: 50%;
    opacity: 0;
    padding: 2px 8px;
    position: absolute;
    text-align: left;
    transition: opacity, 400ms, ease-in-out;
    width: 100%;

    &:before {
      box-shadow: 0 -10px 15px $black inset;
      content: '';
      height: 100%;
      left: 0;
      min-height: 49px;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.gallery-item {
  width: auto;
}

.gallery-columns-1 .gallery-item {
  max-width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 48%;
  max-width: calc(50% - 14px);
}

.gallery-columns-3 .gallery-item {
  max-width: 32%;
  max-width: calc(33.3% - 11px);
}

.gallery-columns-4 .gallery-item {
  max-width: 23%;
  max-width: calc(25% - 9px);
}

.gallery-columns-5 .gallery-item {
  max-width: 19%;
  max-width: calc(20% - 8px);
}

.gallery-columns-6 .gallery-item {
  max-width: 15%;
  max-width: calc(16.7% - 7px);
}

.gallery-columns-7 .gallery-item {
  max-width: 13%;
  max-width: calc(14.28% - 7px);
}

.gallery-columns-8 .gallery-item {
  max-width: 11%;
  max-width: calc(12.5% - 6px);
}

.gallery-columns-9 .gallery-item {
  max-width: 9%;
  max-width: calc(11.1% - 6px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
  margin-right: 0;
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n - 1),
.gallery-columns-3 .gallery-item:nth-of-type(3n - 2),
.gallery-columns-4 .gallery-item:nth-of-type(4n - 3),
.gallery-columns-5 .gallery-item:nth-of-type(5n - 4),
.gallery-columns-6 .gallery-item:nth-of-type(6n - 5),
.gallery-columns-7 .gallery-item:nth-of-type(7n - 6),
.gallery-columns-8 .gallery-item:nth-of-type(8n - 7),
.gallery-columns-9 .gallery-item:nth-of-type(9n - 8) {
  clear: left;
  margin-left: 0;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}
