.logo {
  display: inline-block;
  margin-top: 5px;

  @include respond-to('large') {
    display: block;
    float: left;
    margin-top: 0;
    text-align: left;
  }

  .site-name {
    font-size: 28px;
    font-family: $heading-font;
    font-weight: 700;
    margin: 0;
  }

  .site-description {
    color: $text-color;
    display: none;
    margin: 0;

    @include respond-to('large') {
      display: block;
    }
  }
}
