.main-navigation {
  padding: 0 $horizontal-spacing;
  width: 100%;

  @include respond-to('medium') {
    padding: 0 ($horizontal-spacing * 2);
  }

  @include respond-to('large') {
    float: right;
    padding: 0;
    width: auto;
  }

  .menu {
    @include list-style-none();
  }

  .menu-item {
    @include respond-to('large') {
      float: left;
      margin-left: 5px;
    }

    a {
      $padding-vertical: 10px;

      @include font-size(map-get($font-sizes, 'text-small'));
      border-bottom: 1px solid tint($primary-color, 10%);
      display: block;
      line-height: ($line-height-header - ($padding-vertical * 2));
      font-weight: bold;
      padding: $padding-vertical 20px;

      @include respond-to('large') {
        border: 0;
      }
    }

    &:last-child a {
      border: 0;
    }

    &.current-menu-ancestor a,
    &.current-menu-item a,
    &.current-menu-parent a,
    a:hover {
      background: shade($primary-color, 20%);
    }
  }
}
