.navigation-toggle {
  $height: 19px;
  $width: 24px;

  cursor: pointer;
  float: right;
  height: $height;
  margin-top: ((map-get($header-height, 'toggle-navigation') - $height) / 2);
  position: relative;
  transition: transform 0.4s cubic-bezier(0, 0, 0, 1);
  width: $width;

  @include respond-to('toggle-navigation') {
    display: none;
  }

  .line {
    background-color: $white;
    height: 3px;
    position: absolute;
    transition: transform 0.4s cubic-bezier(0, 0, 0, 1);
    width: $width;
  }

  .line:nth-child(1) {
    top: 0;
  }

  .line:nth-child(2) {
    top: 8px;
  }

  .line:nth-child(3) {
    top: 16px;
  }

  .navigation-open & {
    transform: rotate(-90deg);

    .line:nth-child(1) {
      transform: rotate(-45deg) translate(-5.3px, 5.3px);
    }

    .line:nth-child(2) {
      transform: scale(0, 1);
    }

    .line:nth-child(3) {
      transform: rotate(45deg) translate(-6px, -6px);
    }
  }
}
