.pager {
  @include full-width();
  text-align: center;

  .pages {
    @include list-style-none();
  }

  a,
  .current {
    display: inline-block;
    font-size: map-get($font-sizes, 'text-small');
    font-weight: 600;
    height: 3em;
    line-height: 3em;
    margin: 0 10px 10px 0;
    min-width: 3em;
    padding: 0 1em;
    text-decoration: none;
  }

  a {
    @include hover((
      'background-color': $primary-color,
      'color': $white,
    ));
    background: $light-background;
    color: $text-color;
  }

  .current {
    background: $primary-color;
    color: $white;
  }

  .dots {
    margin: 0 10px 0 0;
  }
}
