.pager {
  @include full-width();
  margin: 0 0 $vertical-spacing;
  text-align: center;

  .pages {
    @include list-style-none();
  }

  a {
    @include box-link((
      'height': 50px,
      'margin': 10px,
    ));
    @include hover((
      'background-color': $primary-color,
      'color': $white,
    ));
    font-size: map-get($font-sizes, 'text-small');
    font-weight: 600;
    min-width: 50px;
  }

  .current {
    @include box-link((
      'height': 46px,
      'margin': 10px,
    ));
    background: none;
    border: 2px solid $light-background;
    font-size: map-get($font-sizes, 'text-small');
    font-weight: 600;
    min-width: 46px;
  }

  .dots {
    margin: 0 10px 0 0;
  }
}
