.pager {
  @include full-width();
  text-align: center;

  a,
  .current {
    display: inline-block;
    font-size: map-get($font-sizes, 'text-small');
    font-weight: 600;
    height: 3em;
    line-height: 3em;
    margin: 0 10px 10px 0;
    min-width: 3em;
    padding: 0 1em;
    text-decoration: none;
  }

  a {
    @include hover((
      'background-color': $primary-color,
      'color': $white,
    ));
    background: $light-background;
    color: $text-color;
  }

  .current {
    background: $light-grey;
  }

  .prev {
    float: left;

    @include respond-to('medium') {
      float: none;
    }
  }

  .next {
    float: right;
    margin-right: 0;

    @include respond-to('medium') {
      float: none;
    }
  }

  .dots,
  .page-number {
    display: none;

    @include respond-to('medium') {
      display: inline-block;
    }
  }

  .dots {
    margin: 0 15px 0 5px;
  }
}
