.post {
  @include full-width();
  @include responsive-margin-bottom(80px);

  &.sticky {
    background: $light-background;
    padding: $box-padding;
  }

  h2 {
    margin-bottom: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}
