.post {
  @include full-width();
  margin-bottom: ($vertical-spacing * 2);

  &.sticky {
    background: $light-background;
    padding: $box-padding;
  }

  h2 {
    margin-bottom: ($vertical-spacing / 4);
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}
