/**
 * Search form
 */

.search-form form {
  position: relative;
  width: 100%;

  @include respond-to('medium') {
    width: 265px;
  }

  .search-form-input {
    color: $text-color;
    font-size: 16px;
    font-style: italic;
    margin: 0;
    padding: 12px 45px 12px 12px;
    right: 0;
    width: 100%;

    @include respond-to('medium') {
      font-size: 13px;
    }
  }

  .search-form-submit {
    background-color: transparent;
    height: 40px;
    margin: 0;
    padding: 0 0 0 15px;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 40px;
  }

  .search-icon {
    border: 2px solid $text-light;
    height: 8px;
    top: -1px;
    width: 8px;

    &:after {
      background-color: $text-light;
      height: 2px;
      right: -5px;
      top: 9px;
      width: 6px;
    }
  }
}
