.video-container {
  height: 0;
  margin-bottom: $vertical-spacing;
  padding-bottom: 56.25%;
  position: relative;

  iframe,
  object,
  embed,
  video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
