.video-container {
  height: 0;
  margin-bottom: $text-margin;
  padding-bottom: ((9 / 16) * 100%);
  position: relative;

  iframe,
  object,
  embed,
  video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
