/**
 * WP caption
 */

.wp-caption {
  background-color: $light-background;
  margin-bottom: $line-height;
  max-width: 100%;
  text-align: center;

  img {
    box-sizing: border-box;
    padding: 5px;
  }

  .wp-caption-text {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    margin: 0 10px 10px;
  }
}
