.main-navigation {
  @include full-width();
  background-color: $primary-color;
  display: none;
  float: right;
  margin: 0;

  @include respond-to('large') {
    clear: none;
    display: block;
    padding-bottom: 0;
    width: auto;

    li {
      float: left;
    }

    li:hover {
      background-color: shade($primary-color, 25%);

      .children,
      .sub-menu {
        display: block;
      }
    }

    a {
      display: block;
      line-height: 30px;
      padding: 10px 20px;
    }

    .menu-item-has-children > a::after {
      $transparent: transparent;
      border-color: $white $transparent $transparent;
      border-style: solid;
      border-width: 4px 4px 0;
      content: '';
      display: inline-block;
      height: 0;
      margin: 0 0 3px 5px;
      width: 0;
    }

    .current-menu-ancestor > a,
    .current-menu-parent > a,
    .current-menu-item > a, {
      text-decoration: underline;
    }

    .children,
    .sub-menu {
      background-color: shade($primary-color, 25%);
      display: none;
      padding: 10px 0;
      position: absolute;
      width: 260px;

      li {
        clear: both;
        width: 100%;
      }

      a {
        padding: 5px 15px;
      }

      a::after {
        display: none;
      }
    }
  }

  ul {
    @include list-style-none();
  }

  li {
    font-weight: 700;
    position: relative;
  }

  li li {
    font-weight: 400;
  }

  a {
    color: $white;
    display: block;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    width: 100%;

    @include respond-to('huge') {
      text-align: left;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
