.main-navigation {
  @include respond-to('large') {
    float: right;
    width: auto;
  }

  .menu {
    @include list-style-none();
  }

  .menu-item {
    border-bottom: 1px solid tint($primary-color, 10%);

    @include respond-to('large') {
      border: 0;
      float: left;
      margin: 0 5px 0 0;
    }

    &:last-child {
      border-bottom: 0;
    }

    a {
      display: block;
      font-weight: bold;
      padding: 10px 20px;
    }

    &.current-menu-ancestor a,
    &.current-menu-item a,
    &.current-menu-parent a,
    a:hover {
      background-color: shade($primary-color, 20%);
    }
  }
}
