main {
  @include full-width();
  margin: ($vertical-spacing * 1.5) 0 $vertical-spacing;

  @include respond-to('medium') {
    margin: ($vertical-spacing * 2) 0 $vertical-spacing;
  }

  @include respond-to('large') {
    margin: ($vertical-spacing * 3) 0 ($vertical-spacing * 2);
  }

  .wrapper {
    @media (min-width: $content-width) {
      margin: 0 auto;
      width: $content-width;
    }
  }
}
