.wrapper {
  padding: 0 $horizontal-spacing;
  max-width: 100%;
  width: 100%;

  @include respond-to('medium') {
    padding: 0 ($horizontal-spacing * 2);
  }

  @include respond-to('huge') {
    margin: 0 auto;
    width: 1280px;
  }
}
