.wrapper {
  padding: 0 $horizontal-spacing;
  max-width: 100%;
  width: 100%;

  @include respond-to('medium') {
    padding: 0 ($horizontal-spacing * 2);
  }

  @include respond-to('large') {
    margin: 0 auto;
    width: 980px;
  }

  @include respond-to('huge') {
    width: 1160px;
  }
}
