@charset 'UTF-8';

@import '../../bower_components/normalize-scss/normalize';

@import 'utils/functions/shade';
@import 'utils/functions/tint';

@import 'utils/mixins/box';
@import 'utils/mixins/box-link';
@import 'utils/mixins/button';
@import 'utils/mixins/caption';
@import 'utils/mixins/hover';
@import 'utils/mixins/font-size';

@import 'utils/variables/breakpoints';
@import 'utils/variables/colors';
@import 'utils/variables/spacing';
@import 'utils/variables/typography';

@import 'base/border-box';
@import 'base/tables';
@import 'base/typography/base';
@import 'base/typography/code';
@import 'base/typography/headings';
@import 'base/typography/links';
@import 'base/typography/lists';
@import 'base/typography/quotes';

@import 'components/button';
@import 'components/video-container';
@import 'components/wordpress/caption';
@import 'components/wordpress/images';
@import 'components/wordpress/gallery';

/// Back-end editor style

html {
  padding: 20px;
}

.video-container {
  height: auto;
  padding: 0;
}
