.comment-respond {
  @include full-width();
  margin: 40px 0;
  position: relative;

  p {
    @include respond-to('medium') {
      textarea {
        width: 75%;
      }
    }

    &.form-submit {
      margin-bottom: 0;
    }
  }

  small a {
    @include tag();
    font-size: 14px;
  }
}
