.comment {
  $element-margin: 20px;

  @include responsive-margin-bottom(40px);
  background: $light-background;
  padding: $box-padding;

  &-meta {
    margin-bottom: $element-margin;
  }

  &-avatar,
  &-author,
  &-date {
    vertical-align: middle;
  }

  &-avatar {
    border-radius: 100%;
    height: 40px;
    margin-right: 10px;

    @include respond-to('medium') {
      height: 60px;
      margin-right: $element-margin;
    }
  }

  &-author {
    color: $heading-color;
    font-weight: 600;
    margin-right: 5px;
  }

  &-date {
    color: $text-light;
    font-size: map-get($font-sizes, 'text-small');
  }

  &-content p {
    font-size: map-get($font-sizes, 'text-small');
    margin-bottom: $element-margin;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
