.comment-respond {
  @include full-width();
  margin: 20px 0;

  p {
    margin-bottom: 1em;
  }

  .comment-notes {
    font-style: italic;
  }

  textarea {
    width: 100%;
  }

  input {
    width: 100%;

    @include respond-to('medium') {
      width: 50%;
    }
  }

  .form-submit {
    margin: 2em 0 0;

    input {
      width: auto;
    }
  }
}
