.comments {
  @include full-width();
  margin: $vertical-spacing 0;

  ol {
    @include list-style-none();
  }

  .children {
    @include list-style-none();
    padding-bottom: $vertical-spacing / 2;

    @include respond-to('medium') {
      padding-left: $horizontal-spacing;
    }
  }

  .comment-body {
    @include box();
    @include full-width();

    @include respond-to('medium') {
      padding-left: 120px;
    }
  }

  .comment-meta {
    position: relative;
    width: 100%;
  }

  .avatar {
    border-radius: 3px;
    display: block;
    margin-bottom: 10px;

    @include respond-to('medium') {
      left: -90px;
      position: absolute;
    }
  }

  .comment-author,
  .comment-metadata {
    @include full-width();

    @include respond-to('medium') {
      clear: none;
      width: auto;
    }
  }

  time {
    margin-right: 10px;
  }

  .comment-metadata {
    @include respond-to('medium') {
      float: right;
    }
  }

  .comment-content {
    padding: ($vertical-spacing / 2) 0;

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .comment-content,
  .reply {
    @include full-width();
  }
}
