.comment-respond {
  @include full-width();
  margin: $vertical-spacing 0;
  position: relative;

  p {
    margin-bottom: ($vertical-spacing / 2);

    @include respond-to('medium') {
      margin-bottom: $vertical-spacing;

      textarea {
        width: 75%;
      }
    }

    &.form-submit {
      margin-bottom: 0;

      @include respond-to('medium') {
        margin-left: 25%;
      }
    }
  }

  small a {
    @include tag();
    font-size: 14px;
  }
}
