/**
 * Comment form
 */

.comment-respond {
  @include full-width();
  margin: $line-height 0;
  position: relative;

  p {
    margin-bottom: ($line-height / 2);

    @include respond-to('medium') {
      margin-bottom: $line-height;
    }

    &.form-submit {
      margin-bottom: 0;
    }
  }

  small a {
    @include tag();
    font-size: 14px;
  }
}
