.gallery {
  @include full-width();
  margin-bottom: $vertical-spacing;
  margin-top: 20px;

  .gallery-item {
    float: left;
    margin: 0 20px 20px 0;
    position: relative;

    img {
      display: block;
    }

    &:hover .gallery-caption {
      opacity: 1;
    }
  }

  .gallery-caption {
    @include caption();
    background-color: $black;
    bottom: 0;
    color: $white;
    margin: 0;
    max-height: 50%;
    padding: 5px 10px;
    opacity: 0;
    position: absolute;
    text-align: center;
    transition: opacity, 400ms, ease-in-out;
  }
}
