.gallery {
  @include full-width();
  margin-bottom: $vertical-spacing;
  margin-top: 20px;

  .gallery-item {
    float: left;
    margin: 0 20px 20px 0;

    img {
      display: block;
    }

    &:hover .gallery-caption {
      display: block;
    }
  }

  .gallery-caption {
    $font-size: 14px;
    $line-height: 1.5;
    $max-lines: 2;
    $padding: 5px;

    background-color: $black;
    bottom: 0;
    color: $white;
    display: none;
    font-size: $font-size;
    line-height: $line-height;
    margin: 0;
    max-height: (($font-size * $line-height * $max-lines) + ($padding * 2));
    padding: $padding ($padding * 2);
    overflow: hidden;
    position: absolute;
    text-align: center;
  }
}
