.aligncenter,
.alignnone,
.alignleft,
.alignright,
.aligncenter {
  display: block;
  height: auto;
  margin: 0 0 $vertical-spacing;
  max-width: 100%;
}

.aligncenter {
  margin: 0 auto $vertical-spacing;
}

.alignleft {
  @media(min-width: 801px) {
    float: left;
    margin: 10px ($horizontal-spacing * 2) $vertical-spacing 0;
  }

  @include respond-to('huge') {
    margin-left: -180px;
  }
}

.alignright {
  @media(min-width: 801px) {
    float: right;
    margin: 10px 0 $vertical-spacing ($horizontal-spacing * 2);
  }

  @include respond-to('huge') {
    margin-right: -180px;
  }
}
