.alignleft,
.alignright {
  display: block;
  margin: 10px ($horizontal-spacing * 2) $vertical-spacing 0;
}

.alignleft {
  @media(min-width: 801px) {
    float: left;
    margin: 10px ($horizontal-spacing * 2) $vertical-spacing 0;
  }

  @include respond-to('huge') {
    margin-left: -180px;
  }
}

.alignright {
  @media(min-width: 801px) {
    float: right;
    margin: 10px 0 $vertical-spacing ($horizontal-spacing * 2);
  }

  @include respond-to('huge') {
    margin-right: -180px;
  }
}

.aligncenter,
.alignnone {
  display: block;
  margin: 0 auto $vertical-spacing;
}

.size-thumbnail,
.size-medium,
.size-large,
.size-auto,
.alignnone,
.alignleft,
.alignright,
.aligncenter,
.size-full {
  height: auto;
  max-width: 100%;
}
