/// Boxed content
///
/// @param {Map} $args
@mixin box($args: ()) {
  $settings: map-merge((
    'background-color': $light-background,
  ), $args);

  background-color: map-get($settings, 'background-color');
  margin-bottom: $vertical-spacing;
  padding: 30px;
}
