/// Boxed link
///
/// @param {Map} $args
@mixin box-link($args: ()) {
  $settings: map-merge((
    'background-color': $light-background,
    'color': $text-color,
    'height': $vertical-spacing,
    'horizontal-padding': 10px,
    'margin': 5px,
  ), $args);

  @include box((
    'background-color': map-get($settings, 'background-color'),
  ));
  color: map-get($settings, 'color');
  display: inline-block;
  margin: 0 map-get($settings, 'margin') map-get($settings, 'margin') 0;
  padding: ((map-get($settings, 'height') - $vertical-spacing) / 2) map-get($settings, 'horizontal-padding');
  text-decoration: none;
}
