/// Button
/// 
/// @param {String} $type - The context of the button
@mixin button($type: '') {
  @include hover(shade($primary-color, 15%), $white);
  background-color: $primary-color;
  border-radius: 3px;
  border: 0;
  color: $white;
  display: inline-block;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  margin: 0 10px 10px 0;
  outline: 0;
  padding: 0 35px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;

  @if $type == 'secondary' {
    @include hover(shade($secondary-color, 15%), $white);
    background-color: $secondary-color;

  } @else if $type == 'tag' {
    @include hover($heading-color, $white);
    background-color: $light-background;
    color: $text-color;
    font-weight: normal;
    height: 25px;
    line-height: 25px;
    margin: 0 0 5px 5px;
    padding: 0 10px;
    text-transform: none;

  } @else if $type == 'pager' {
    
  }
}
