/// Button
@mixin button() {
  $height: 50px;

  @include box($primary-color);
  @include hover(shade($primary-color, 15%), $white);
  border: 0;
  color: $white;
  display: inline-block;
  font-weight: bold;
  margin: 0 10px 10px 0;
  padding: (($height - $line-height) / 2) 35px;
  text-decoration: none;
  text-transform: uppercase;
}
