{% extends 'base.twig' %}

{% block content %}

	<h1>
		{{ __('The page you are looking for doesn\'t exist.', 'tp') }}
	</h1>

	<p>
		{{ __('Seems like the page you were looking for might have been moved or just didn\'t exist in the first place.', 'tp') }}
	</p>

	{% include 'partials/searchform.twig' %}

{% endblock %}
