{% extends 'base.twig' %}

{% block content %}
  <h1>
    {{ title }}
  </h1>

  {{ description }}
  
  {% if posts is not empty %}
    {% for post in posts %}
      {% include 'partials/loop-post.twig' %}
    {% endfor %}

    {% include 'partials/pagination.twig' %}
  {% else %}
    <p>
      {{ __('No results found.', 'tp') }}
    </p>
  {% endif %}
{% endblock %}
