{% extends 'base.twig' %}

{% block content %}
	
	{% if subheader %}

		<h2>
			{{post.title}}
		</h2>

	{% else %}

		<h1>
			{{post.title}}
		</h1>
		
	{% endif %}

	{{post.content}}

{% endblock %}
