html {
  -webkit-font-smoothing: antialiased;
}

body {
  $base: map-get($font-sizes, 'base');

  color: $text-color;
  font-family: $text-font;
  font-size: map-get($base, 'small');
  line-height: map-get($line-height, 'base');
  word-wrap: break-word;

  @include respond-to('medium') {
    font-size: map-get($base, 'medium');
  }
}

p {
  margin: 0 0 $text-margin;
}
