html {
  -webkit-font-smoothing: antialiased;
}

body {
  @include font-size(map-get($font-sizes, 'base'));
  color: $text-color;
  font-family: $text-font;
  line-height: $line-height;
  word-break: break-all;
}

p {
  margin: 0 0 $vertical-spacing;
}
