h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-family: $heading-font;
  font-weight: 600;
  line-height: 1.325em;
  margin: 0 0 ($vertical-spacing * 0.5);

  a {
    color: $heading-color;
    text-decoration: none;
  }

  a:hover {
    color: $hover-color;
    text-decoration: none;
  }
}

h1 {
  @include font-size(map-get($font-sizes, 'h1'));
  margin: 0 0 $vertical-spacing;
}

h2 {
  @include font-size(map-get($font-sizes, 'h2'));
  margin: 0 0 ($vertical-spacing * 0.65);
}

h3 {
  @include font-size(map-get($font-sizes, 'h3'));
}

h4,
h5,
h6 {
  @include font-size(map-get($font-sizes, 'h4'));
}
