a {
  color: $link-color;
  outline: 0;
  text-decoration: underline;

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  &.read-more::after,
  &.prev::before,
  &.next::after {
    display: inline-block;
  }

  &.prev::before {
    content: '«';
    padding-right: 5px;
  }

  &.next::after,
  &.read-more::after {
    content: '»';
    padding-left: 5px;
  }
}
