a {
  color: $link-color;
  outline: 0;
  text-decoration: underline;

  &:hover {
    color: shade($link-color, 20%);
    text-decoration: underline;
  }

  &.read-more:after,
  &.prev:before,
  &.next:after {
    display: inline-block;
  }

  &.prev:before {
    content: '«';
    padding-right: 5px;
  }

  &.read-more:after,
  &.next:after {
    content: '»';
    padding-left: 5px;
  }
}
